@model IEnumerable<MCNMedia_Dev.Models.User>
@using System.Web;
@{
    ViewData["Title"] = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#ADDEmployee").on("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-edit").dialog({
                title: 'Add New Employee',
                autoOpen: false,
                resizable: false,
                height: 455,
                width: 550,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                close: function (event, ui) {
                    $(this).dialog('close');
                }
            });

            $("#dialog-edit").dialog('open');
            return false;
        });
    });
</script>
<div class="card mb-3">
    <div class="card-body">
        <h3>Search User</h3>
        <div class="">
            <form method="post" asp-action="Search" asp-controller="user">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">First Name</label>
                            <div class="col-sm-8">
                                @Html.TextBox("FirstName", "", new { @class = "form-control", @placeholder = "Enter First Name" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Last Name</label>
                            <div class="col-sm-8">
                                @Html.TextBox("LastName", "", new { @class = "form-control", @placeholder = "Enter Last Name" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Email Address</label>
                            <div class="col-sm-8">
                                @Html.TextBox("EmailAddress", "", new { @class = "form-control", @placeholder = "Enter Email Address" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Role</label>
                            <div class="col-sm-8">
                                @Html.TextBox("Role", "", new { @class = "form-control", @placeholder = "Enter Role" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-sm"><i class="mdi mdi-table-search"></i>Search</button>
                            <a asp-controller="User" asp-action="ListUser" class="btn btn-warning btn-sm"><i class="mdi mdi-cancel"></i>Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

        <div class="card">
            <div class="card-body">

               

                <a id="ADDEmployee" class="btn btn-success btn-sm float-right" href="../User/AddUser"> <i class="fa fa-plus"></i> Add User</a>
                <h3>Manage Users</h3>
                <br />
                <div class="">
                    @using (Html.BeginForm("ListUser", "User", FormMethod.Post))
                    {

                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                           Name
                                        </th>
                                        
                                        <th>
                                            Email Address
                                        </th>
                                        <th>
                                            Assigned Churches
                                        </th>
                                        
                                        <th>
                                            Role
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                </td>*@
                                            <td class="text-wrap">
                                                
                                                @Html.DisplayFor(modelItem => item.UserName, new {@class= "text-wrap" })
                                            </td>
                                           
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.EmailAddress, new { @class = "text-wrap" })
                                            </td>
                                            <td class="text-wrap">
                                                @{
                                                    var Church = item.ChurchName.ToString();
                                                    var Name = Church.Split("|");

                                                    foreach (string churchName in Name)
                                                    {

                                                        <label class="text-wrap">@churchName</label>
                                                        <br />
                                                    }


                                                }
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RoleName)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditAssignChurchesUser", "UserAssignChurches", new { id=item.UserId})" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="Assign Churches To User"><i class="mdi mdi-church"></i></a>

                                                <a href="@Url.Action("Edit", "User", new { id=item.UserId })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>

                                                <a href="@Url.Action("Delete", "User", new { id=item.UserId })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>


                                                @*@Html.ActionLink("Edit Record", "Edit", new { id=item.UserId },new { @class="btn btn-success btn-md" })
        @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger btn-md" })*@

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>


                    }
                </div>

            </div>
        </div>
    