@model IEnumerable<MCNMedia_Dev.Models.Subscriptions>
@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";

}

<link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
<style>
    .btn-outline-blue {
        color: #1f4a79;
        border-color: #1f4a79;
    }

        .btn-outline-blue:hover {
            color: #fff;
            background-color: #1f4a79;
            border-color: #343a40;
        }
</style>
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<link rel="shortcut icon" href="~/theme/images/favicon.png" />
@if (ViewBag.Error == 3)
{
    <div class="form-group col-sm-12 center ">
        <div class="alert alert-danger text-center">
            It seems that you don't have an active subscription. Please subscribe and continue
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="card-body">

                <div class="container text-center pt-5">
                    @if (ViewBag.LoginButton == 1)
                    {
                        <div class=" row col-md-12">
                            <div class="float-right">
                                <a type="submit" asp-action="SubscriptionUserLogin" asp-controller="Subscription" asp-route-id="Packages" class="btn btn-outline-blue float-right">Already have an account. Sign in</a>

                            </div>
                        </div>
                    }
                    <div class=" row col-md-12 pt-3">
                        <p class="text-pink font-20">
                            <b>Note: </b>Each of these subcriptions give you an access to all web cameras and all recordings on our site.
                        </p>
                    </div>
                    <div class="row pricing-table">
                        @foreach (var items in Model)
                        {
                            <div class="col-md-4 col-xl-4  pt-3">
                                <form method="post">

                                    <input type="hidden" name="SubscriberId" value="@ViewBag.SubscriberId" />
                                    <div class="border p-4" style="border-color: #1f4a79 !important">
                                        <div class="text-center pricing-card-head">
                                            <h3 class="text-blue" style="color: #1f4a79">@items.PackageTitle</h3>
                                            <p></p>
                                            <h1 class="font-weight-normal mb-4">&#xa3; @items.PackageCharge</h1>
                                        </div>
                                        <ul class="list-unstyled plan-features text-left pl-4">
                                            <li>Package Duration  &nbsp; : &nbsp;<b>@items.Duration @items.DurationUnit</b></li>
                                            <li>Currency Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;<b>@items.Currency (&#xa3;)</b></li>

                                        </ul>
                                        <input type="hidden" name="PackageId" value="@items.PackageId" />
                                        <div class="wrapper">
                                            @if (ViewBag.Button == 1)
                                            {
                                                <button type="submit" asp-action="SubscriptionUserRegistration" asp-controller="Subscription" class="btn bg-blue my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Subscribe Now</button>

                                            }
                                            else@if (ViewBag.Button == 2)
                                            {
                                                <button type="submit" asp-action="PackageRenewal" asp-controller="Subscription" class="btn bg-blue my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-14">Subscribe Now</button>

                                            }
                                        </div>

                                    </div>
                                </form>
                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


<script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="~/theme/js/off-canvas.js"></script>
<script src="~/theme/js/hoverable-collapse.js"></script>
<script src="~/theme/js/template.js"></script>
<script src="~/theme/js/settings.js"></script>
<script src="~/theme/js/todolist.js"></script>