@model MCNMedia_Dev.Models.GenericSubscriber
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "SubscriberProfileForAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    List<SelectListItem> SelectList = Lists.GetCountriesList();
    List<SelectListItem> PackageList = Lists.GetPackagesDDL();
}

@if (ViewBag.Message == 1)
{
    <br />
    <div class="alert alert-success">
        <strong>Package has been Updated Successfully!</strong> 
    </div>
}

<div class="card mb-3">
    <div class="card-header card-header-custom">
        Subscriber Info
        <a id="back" asp-action="SubscriberProfileForAdmin" class="btn btn-warning btn-sm text-white pull-right" data-dismiss="modal" aria-label="Close" title="Back"> Back</a>
    </div>
    <div class="card-body">
        <div class="">
            <form method="Post">
                <div class="row">
                    <input hidden asp-for="subscriptions.SubscriberId" name="SubscriberId" />
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="subscriptions.Name" name="Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Email Address</label>
                            <div class="col-sm-8">
                                <input class="form-control" asp-for="subscriptions.EmailAddress" name="EmailAddress" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">New Password</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="NewPassword" placeholder="Password" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Country</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("subscriptions.CountryId", SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" asp-action="UpdateSubscriberByAdmin" class="btn btn-info btn text-white pull-right" title="Update">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
</form>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header card-header-custom">
        Update Package
    </div>
    <div class="card-body">
        <div class="">
            <form method="Post">
                <div class="row">
                    <input hidden asp-for="subscriptions.SubscriberId" name="SubscriberId" />
                    <input hidden asp-for="subscriptions.ChurchId" name="ChurchId" />

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Package</label>
                            <div class="col-sm-8">
                                @Html.DropDownList("subscriptions.PackageId", PackageList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" asp-action="SubscriptionAddByAdmin" class="btn btn-warning btn text-white pull-right mr-1" title="Plain Change">Update Package</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-custom">Subcribers</div>
    <div class="card-body">
        <div class="table-sorter-wrapper col-lg-12 table-responsive">
            <table id="sortable-table-1" class="table">
                <thead>
                    <tr>

                        @*<th class="sortStyle"> Name<i class="ti-angle-down"></i></th>
                            <th class="sortStyle"> EmailAddress<i class="ti-angle-down"></i></th>*@
                        <th class="sortStyle"> Package<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Subscription Date<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Expiredate<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Status<i class="ti-angle-down"></i></th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lsubscriptions)
                    {
                        <tr>

                            @*<td class="text-wrap">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-wrap">
                                    @Html.DisplayFor(modelItem => item.EmailAddress)
                                </td>*@

                            <td class="text-wrap">
                                @Html.DisplayFor(modelItem => item.PackageTitle)
                            </td>

                            <td class="text-wrap">
                                @{
                                    string OrderDate = item.Orderdate.ToString("dd-MMM-yyyy hh:mm tt");

                                    <span>@OrderDate</span>
                                }
                            </td>
                            <td class="text-wrap">
                                @{
                                    string ExpiryDate = item.Expiredate.ToString("dd-MMM-yyyy hh:mm tt");

                                    <span>@ExpiryDate</span>
                                }

                            </td>
                            <td class="m-2">
                                @if (DateTime.Now > item.Expiredate)
                                {
                                    <span class="alert alert-danger">Expired</span>
                                }
                                else
                                {
                                    <span class="alert alert-success">Active</span>
                                }
                            </td>




                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@*<script type="text/javascript">

        $(document).ready(function () {

            var date = '@ViewBag.Date';
            var Expiredate = '@ViewBag.ExpiredateExpiredate';

            $('#SetEventDate').val(date);
            $('#SetExpiredate').val(Expiredate);
        });
    </script>*@

