@model MCNMedia_Dev.Models.Subscriptions
@using Microsoft.Extensions.Options;
@inject IOptions<StripeSetting> Stripe
@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


<div>
    <form action="/Subscription/Processing" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Stripe.Value.PublishKey"
                data-amount="@Model.PackageCharge"
                data-name="MCN_Test"
                data-description="@Model.PackageTitle"
                data-image="/WebsiteAssets/img/logo_100x100.png"
                data-locale="en"
                data-zip-code="true"
                data-label="Pay @Model.PackageCharge (&#8364;)">
        </script>
        <input type="hidden" name="PackageAmount" value="@Model.PackageCharge" />
        <input type="hidden" name="Description" value="@Model.PackageTitle" />
        <input type="hidden" name="PaymentLogId" value="@Model.PaymentId" />
    </form>
</div>

