@model MCNMedia_Dev.Models.Subscriptions
@using Microsoft.Extensions.Options;
@inject IOptions<StripeSetting> Stripe
@{
    ViewData["Title"] = "Subscribe";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<style>
    .bgcolor{
        background-color: red !important;
    }
    button.stripe-button-el,
    button.stripe-button-el > span {
        background-color: #1f4a79 !important;
        background-image: none;
        
    }
</style>
<link rel="shortcut icon" href="~/theme/images/favicon.png" />
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="card-body">

                <div class="container text-center pt-5">
                   
                    <div class="row pricing-table">
                        
                            <div class="col-md-4 col-xl-4  pt-3">
                            
                                  
                                <div class="border p-4" style="border-color: #1f4a79 !important">
                                    <div class="text-center pricing-card-head">
                                        <h3 class="text-blue" style="color: #1f4a79">@Model.PackageTitle</h3>
                                        <p></p>
                                        <h1 class="font-weight-normal mb-4">&#8364; @Model.PackageCharge</h1>
                                    </div>
                                    <ul class="list-unstyled plan-features text-left pl-4">
                                        <li>Package Duration  &nbsp; : &nbsp;<b>@Model.Duration @Model.DurationUnit</b></li>
                                        <li>Currency Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;<b>@Model.Currency (&#8364;)</b></li>

                                    </ul>
                                    <input type="hidden" name="PackageId" value="@Model.PackageId" />
                                    <div class="wrapper">
                                        <div>
                                            <form action="/Subscription/Processing" method="POST">
                                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                        data-key="@Stripe.Value.PublishKey"
                                                        data-amount="@(Model.PackageCharge*100)"
                                                        data-name="MCN_Test"
                                                        data-description="@Model.PackageTitle"
                                                        data-email="@Model.EmailAddress"
                                                        data-image="/WebsiteAssets/img/logo_100x100.png"
                                                        data-locale="EUR"
                                                        data-zip-code="true"
                                                        data-currency="EUR"
                                                        data-label="Pay @(Model.PackageCharge ) (&#8364;)"
                                                        data-panel-label="Pay Now">
                                                </script>
                                                <input type="hidden" name="PackageAmount" value="@Model.PackageCharge" />
                                                <input type="hidden" name="Description" value="@Model.PackageTitle" />
                                                <input type="hidden" name="PaymentLogId" value="@Model.PaymentId" />
                                            </form>
                                        </div>
                                    </div>

                                </div>
                             
                            </div>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>


<script src="~/theme/vendors/js/vendor.bundle.base.js"></script>



