@model IEnumerable<MCNMedia_Dev.Models.Subscriptions>
@{
    ViewData["Title"] = "SubscriperProfile";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<div class="card">
    <div class="card-header card-header-custom">Subcribers</div>
    <div class="card-body">
        <div class="table-sorter-wrapper col-lg-12 table-responsive">
            <table id="sortable-table-1" class="table">
                <thead>
                    <tr>

                        <th class="sortStyle"> Name<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> EmailAddress<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Package<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Orderdate<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Expiredate<i class="ti-angle-down"></i></th>
                        <th class="sortStyle"> Status<i class="ti-angle-down"></i></th>



                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="text-wrap">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="text-wrap">
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                         
                            <td class="text-wrap">
                                @Html.DisplayFor(modelItem => item.PackageTitle)
                            </td>

                            <td class="text-wrap">
                                @{
                                    string OrderDate = item.Orderdate.ToString("dd-MMM-yyyy hh:mm tt");

                                                                <span>@OrderDate</span> 
                                }
                            </td>
                            <td class="text-wrap">
                                @{
                                    string ExpiryDate = item.Expiredate.ToString("dd-MMM-yyyy hh:mm tt");

                                                                <span>@ExpiryDate</span> 
                                }
                       
                            </td>
                            <td class="m-2">
                                @if (DateTime.Now > item.Expiredate)
                                {
                                    <span class="alert alert-danger">Expired</span>
                                }
                                else
                                {
                                    <span class="alert alert-success">Active</span>
                                }
                            </td>




                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

