@using Microsoft.AspNetCore.Http;
@using MCNMedia_Dev.Repository;
<!DOCTYPE html>

<html lang="en">
<head>

    @*<script async src="https://www.googletagmanager.com/gtag/js?id=G-D5LG5TX4PR"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-D5LG5TX4PR');
        </script>*@


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - MCN</title>
    <!-- plugins:css -->

    <style type="text/css">
        .for-generic {
            height: 30px;
            background-color: #1f4a79;
            margin-bottom: 0px;
            text-align: center;
            padding-top: 5px;
        }
    </style>
    <link rel="stylesheet" href="~/theme/vendors/lightgallery/css/lightgallery.css">
    <link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/theme/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/theme/vendors/jquery-toast-plugin/jquery.toast.min.css">
    <link rel="stylesheet" href="~/theme/vendors/dropzone/dropzone.css">

    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">

    <link rel="shortcut icon" href="~/images/favicon.png" />

    <link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/theme/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/theme/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css">
    <link href="~/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->

    <link rel="stylesheet" href="~/theme/vendors/dropify/dropify.min.css">

    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/vendors/jquery-contextmenu/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/theme/css/vertical-layout-light/style.css">

    <link href="~/theme/vendors/summernote/dist/summernote-bs4.css" rel="stylesheet" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endinject -->
    <link rel="shortcut icon" href="~/theme/images/browser-tab-icon.png" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link href="~/theme/Custom.css" rel="stylesheet" />
    <link href="~/theme/Loader.css" rel="stylesheet" />
    <link href="~/theme/AdminTheme.css" rel="stylesheet" />

    <link href="~/theme/CustomToggle.css" rel="stylesheet" />
    <style>
        .alertNew {
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 0.25rem;
        }

        .alert-dangerNew {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }
    </style>

</head>
<body>

    @if (string.IsNullOrEmpty(Context.Session.GetString("UserType")))
    {
        Context.Response.Redirect("../UserLogin");
    }
    else if (Context.Session.GetString("UserType").ToString() != "admin")
    {
        Context.Session.Clear();
        Context.Response.Redirect("../UserLogin");
    }

    @{

        InboxDataAccessLayes inboxDataAccessLayer = new InboxDataAccessLayes();
        var countUnreadMail = inboxDataAccessLayer.GetUnreadEmail();


    }

    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/Admin/Dashboard"><img src="~/theme/images/MCNLogo.svg" class="mr-2" alt="MCN" /></a>
                <a class="navbar-brand brand-logo-mini" href="#"><img src="~/theme/images/MCNLogo.svg" alt="MCN" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="ti-layout-grid2"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item">
                        <i class="ti-lock text-primary"></i>
                        Change Password
                    </a>
                    <a class="dropdown-item">
                        <i class="ti-power-off text-primary"></i>
                        Logout
                    </a>
                </div>

                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <span class="dropdown-item border-bottom font-20">
                                <i class="ti-user text-primary"></i>
                                <span class="font-18 text-primary">
                                    @Context.Session.GetString("UserName")
                                </span>
                            </span>
                            <a class="dropdown-item" onclick="ChangePassword()" data-toggle="tooltip" data-placement="bottom" title="Change">
                                <i class="ti-lock text-primary"></i>
                                Change Password
                            </a>
                            <a class="dropdown-item" asp-action="UserLogin" asp-controller="UserLogin">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <div class=" ml-3">
                    <a href="/" class="btn   text-black font-14 font-weight-bolder" style="background-color: #ddb500">Website<i class="fa fa-globe text-black ml-1"></i></a>
                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="ti-layout-grid2"></span>
                </button>

            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                @*<div id="settings-trigger"><i class="ti-settings"></i></div>*@
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>

                    <div class="sidebar-bg-options selected" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                    <div class="sidebar-bg-options " id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
                    </li>
                </ul>
                <div class="tab-content" id="setting-content">
                    <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
                        <div class="add-items d-flex px-3 mb-0">
                            <form class="form w-100">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                                </div>
                            </form>
                        </div>
                        <div class="list-wrapper px-3">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Team review meeting at 3.00 PM
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Prepare for presentation
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Resolve all the low priority tickets due today
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Schedule meeting for next week
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Project review
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                            </ul>
                        </div>
                        <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="ti-control-record text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                            <p class="text-gray mb-0">The total number of sessions</p>
                        </div>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="ti-control-record text-primary mr-2"></i>
                                <span>Feb 7 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                            <p class="text-gray mb-0 ">Call Sarah Graves</p>
                        </div>
                    </div>
                    <!-- To do section tab ends -->
                    <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
                        </div>
                        <ul class="chat-list">
                            <li class="list active">
                                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Thomas Douglas</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">19 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span class="offline"></span></div>
                                <div class="info">
                                    <div class="wrapper d-flex">
                                        <p>Catherine</p>
                                    </div>
                                    <p>Away</p>
                                </div>
                                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                                <small class="text-muted my-auto">23 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Daniel Russell</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">14 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span class="offline"></span></div>
                                <div class="info">
                                    <p>James Richardson</p>
                                    <p>Away</p>
                                </div>
                                <small class="text-muted my-auto">2 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Madeline Kennedy</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">5 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Sarah Graves</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">47 min</small>
                            </li>
                        </ul>
                    </div>
                    <!-- chat tab ends -->
                </div>
            </div>
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas " id="sidebar">
                <ul class="nav active">
                    <li class="nav-item ">
                        <a class="nav-link" href="/Admin/Dashboard">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Churches">
                            <i class="mdi mdi-christianity-outline menu-icon"></i>
                            <span class="menu-title"> Churches </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ListSchedule" asp-controller="Schedule">
                            <i class="mdi mdi-calendar-clock menu-icon"></i>
                            <span class="menu-title">Schedules </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Recordings">
                            <i class="mdi mdi-camcorder-box  menu-icon"></i>
                            <span class="menu-title">Recordings </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/RecordingReport/RecordingReportList">
                            <i class="fa fa-file-movie-o (alias) menu-icon"></i>
                            <span class="menu-title">Recording Report</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Users">
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                            <span class="menu-title">Users</span>
                        </a>
                    </li>


                    @*<li class="nav-item">
                            <a class="nav-link" asp-action="Inbox" asp-controller="Inbox">

                                <i class="fa fa-inbox menu-icon"></i>
                                <span class="menu-title ">Inbox</span>

                                @if (countUnreadMail > 0)
                                {
                                    <span class="badge badge-pill badge-success">
                                        @countUnreadMail New Mails
                                    </span>
                                }
                            </a>
                        </li>*@


                    @*<li class="nav-item">
                            <a class="nav-link"  href="/EmailTemplate/ListEmail" >
                                <i class="ti-email  menu-icon  "></i>
                                <span class="menu-title">EMail Us</span>
                            </a>
                        </li>*@
                    @*<li class="nav-item">
                            <a class="nav-link" href="/Subscription/ListSubscription">
                                <i class="fa fa-th-list menu-icon"></i>
                                <span class="menu-title">Subscribers</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Subscription/Revenue">
                                <i class="fa  fa-gbp menu-icon"></i>
                                <span class="menu-title">Revenue Report</span>
                            </a>
                        </li>*@

                    @*<li class="nav-item">
                        <a class="nav-link" href="/Recording/Test">
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                            <span class="menu-title">Test</span>
                        </a>
                    </li>*@
                </ul>


            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="container">
                        <main role="main">
                            @Html.Partial("~/Views/Shared/_BusyIndicatoPartial.cshtml")
                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                            {

                                <div class="row m-0 mb-3">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger">
                                            @ViewBag.ErrorMsg
                                        </div>

                                    </div>

                                </div>

                            }
                            @if (!string.IsNullOrEmpty(ViewBag.SuccessMsg))
                            {

                                <div class="row m-0 mb-3">
                                    <div class="col-lg-12">
                                        <div class="alert alert-success">
                                            @ViewBag.SuccessMsg
                                        </div>

                                    </div>

                                </div>

                            }
                            @RenderBody()


                            <div class="row">
                                <div class="col-12 grid-margin">
                                    <div class="modal fade" id="ChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog mt-4" role="document" style="max-width:40%;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body " id="Preview">

                                                    @Html.Partial("~/Views/UserLogin/ChangeUserPassword.cshtml")
                                                </div>
                                                @*<div class="modal-footer">
                                                        <button type="button" class="btn btn-success">Submit</button>
                                                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:~/theme/partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- plugins:js -->
    <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/chart.js/Chart.min.js"></script>
    <!-- endinject -->
    <script src="~/theme/vendors/dropify/dropify.min.js"></script>
    <!-- inject:js -->
    <script src="~/theme/js/off-canvas.js"></script>
    <script src="~/theme/js/hoverable-collapse.js"></script>
    <script src="~/theme/js/template.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/todolist.js"></script>
    <script src="~/theme/js/CheckCode.js"></script>


    <!-- endinject -->
    <!-- DateTimePicker -->
    <script src="~/theme/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/theme/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="~/theme/vendors/jquery.avgrund/jquery.avgrund.min.js"></script>
    <!-- End plugin js for this page-->
    <script src="~/theme/vendors/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="~/theme/vendors/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="~/theme/vendors/jquery-asColorPicker/jquery-asColorPicker.min.js"></script>
    <script src="~/theme/vendors/moment/moment.min.js"></script>
    <script src="~/theme/vendors/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.js"></script>
    <script src="~/theme/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/theme/js/formpickers.js"></script>
    <script src="~/theme/js/dropify.js"></script>
    <script src="~/theme/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/theme/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!--End DateTimePicker-->
    <!-- endinject -->
    <script src="~/theme/vendors/owl-carousel-2/owl.carousel.min.js"></script>

    <script src="~/theme/js/off-canvas.js"></script>
    <script src="~/theme/js/hoverable-collapse.js"></script>
    <script src="~/theme/js/template.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/todolist.js"></script>

    <!-- plugin js for this page -->
    <script src="~/theme/js/owl-carousel.js"></script>
    <script src="~/theme/vendors/dropify/dropify.min.js"></script>
    <script src="~/theme/vendors/jquery-file-upload/jquery.uploadfile.min.js"></script>
    <script src="~/theme/js/CustomToggle.js"></script>
    @*<script src="~/theme/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>*@
    @*<script src="~/theme/vendors/dropzone/dropzone.js"></script>*@
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/theme/js/FormValidation.js"></script>
    <script src="~/theme/js/off-canvas.js"></script>
    <script src="~/theme/js/hoverable-collapse.js"></script>
    <script src="~/theme/js/template.js"></script>
    <script src="~/theme/js/settings.js"></script>
    <script src="~/theme/js/todolist.js"></script>


    <script src="~/theme/vendors/jquery-contextmenu/jquery.contextMenu.min.js"></script>

    <script src="~/theme/js/context-menu.js"></script>

    <!-- Custom js for this page-->
    <script src="~/theme/js/data-table.js"></script>
    <script src="~/theme/js/dropify.js"></script>
    <script src="~/theme/js/dropzone.js"></script>
    <script src="~/theme/js/jquery-file-upload.js"></script>
    <script src="~/theme/js/owl-carousel.js"></script>

    <script src="~/theme/vendors/summernote/dist/summernote-bs4.min.js"></script>
    <!-- endinject -->
    <script src="~/theme/vendors/summernote/demo.summernote.js"></script>
    <script src="~/theme/js/jq.tablesort.js"></script>
    <script src="~/theme/js/alerts.js"></script>
    <script src="~/theme/js/avgrund.js"></script>
    <script src="~/theme/js/dashboard.js"></script>
    <script src="~/theme/js/todolist.js"></script>

    <script src="~/theme/vendors/chart.js/Chart.min.js"></script>

    <script src="~/theme/js/bt-maxLength.js"></script>
    <script src="~/theme/js/tablesorter.js"></script>
    <script src="~/theme/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/theme/js/toastDemo.js"></script>
    <script src="~/theme/vendors/lightgallery/js/lightgallery-all.min.js"></script>
    <script src="~/theme/vendors/jquery-contextmenu/jquery.contextMenu.min.js"></script>

    <script src="~/theme/js/CheckCode.js"></script>
    <!-- End custom js for this page-->
    <!-- End custom js for this page-->
    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        function displayBusyIndicator2() {
            $('.loading').hide();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(window).unload(function () {
            displayBusyIndicator();
        });
        s
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });

        function ChangePassword() {

            $('#ChangeModal').modal('show');
        }

    </script>


    <script type="text/javascript">

        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
        $(function () {
            $("#datepicker1").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
        $(function () {
            $("#datepicker2").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
        $(function () {
            $("#datepicker3").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });

        $(function () {
            $("#datepicker4").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });

        $(".alert-danger").fadeTo(5000, 500).slideUp(500, function () {
            $(".alert-danger").slideUp(500);
        });
        $(".alert-success").fadeTo(5000, 500).slideUp(500, function () {
            $(".alert-success").slideUp(500);
        });
        function sleep(milliseconds) {
            let timeStart = new Date().getTime();
            while (true) {
                let elapsedTime = new Date().getTime() - timeStart;
                if (elapsedTime > milliseconds) {
                    break;
                }
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
    @*@RenderSection("PluginForPage", required:true)*@
</body>
</html>
