@model MCNMedia_Dev.Models.GenericModel
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


    <div class="form-group row">
        <div class="form-group col-sm-3">
            <div class="card">
                <div class="card-body">

                    @*<label>Church Image</label>
                        <label>Church Name</label>
                        <label>Email</label>
                        <label>Phone</label>
                        <label>Address</label>
                        <label>Town</label>
                        <label>WebSite</label>*@
                    <div class=" form-group row">
                        <div class="col-sm-12 " style=" background-color:white">


                            <div class="text-center">
                                <div>
                                    <img src="@Model.Churches.ImageURl" class="auth-img-bg rounded-circle mb-2 " style="width:200px; height:200px;" alt="profile image" />
                                   
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="col-sm-12 p-2  " style=" background: linear-gradient(to Left, White 0%, White 80%, #372548 50%, #372548 50%);
         border:1px solid;
        border-radius: 25px;">

                        <div class="row pb-2 ">
                            <div class="col-sm-2">
                                <i class="fa fa-home text-white pl-2"></i>
                            </div>
                            <div class="col-sm-10 pl-4">
                                @Model.Churches.ChurchName
                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class="col-sm-2">
                                <i class="fa fa-phone  text-white pl-2"></i>
                            </div>
                            <div class="col-sm-10 pl-4">
                                @Model.Churches.Phone
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-sm-2">
                                <i class="fa fa-envelope  text-white pl-2"></i>
                            </div>
                            <div class="col-sm-10 pl-4">
                                <a href="mailto:test_Churches27_7">
                                    @Model.Churches.EmailAddress
                                </a>
                            </div>
                        </div>

                        <div class="row pb-2">
                            <div class="col-sm-2">
                                <i class="fa fa-globe  text-white  pl-2"></i>
                            </div>
                            <div class="col-sm-10 pl-4">
                                <a target="_blank" href="http://test_Churches27_7">
                                    @Model.Churches.Website
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-9">
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
            
        </div>
    </div>
