@model MCNMedia_Dev.Models.GenericModel


@{
    ViewData["Title"] = "ListSchedule";
}





<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="modal fade" id="AddScheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:70%;">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title " id="exampleModalLabel">Add Schedule </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                                </button>
                            </div>
                            <div class="modal-body " id="AddSchedulePreview">
                                @Html.Partial("~/Views/Schedule/AddSchedule.cshtml", Model.Schedules)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" id="AddSchedule1" class="btn btn-success btn-sm float-right" onclick="AddSchedule()"> <i  class="fa fa-plus"></i> Add Schedule</button>
       
        <h3>Manage Schedules</h3>
        <br />
        <div class="">
            @using (Html.BeginForm("ListUser", "User", FormMethod.Post))
            {

                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                               
                                <th>
                                    Church Name
                                </th>
                                <th>
                                    Event Name
                                </th>
                                <th>
                                    Event Date/Day
                                </th>
                                <th>
                                    Event Time
                                </th>
                                <th>
                                    Duration
                                </th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="SchList">

                            @foreach (var item in Model.LSchedules)
                                {
                                    <tr>

                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.ChurchName)
                                        </td>
                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.EventName)
                                        </td>
                                        <td class="text-wrap">
                                            @if (item.IsRepeated == false && item.EventDate != Convert.ToDateTime("0001-01-01 00:00:00"))
                                            {
                                                @Html.DisplayFor(modelItem => item.EventDate)
                                            }
                                            else if (item.IsRepeated == true && item.EventDate == Convert.ToDateTime("0001-01-01 00:00:00"))
                                            {
                                                @Html.DisplayFor(modelItem => item.EventDay)
                                            }
                                        </td>

                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.EventTime)
                                        </td>
                                        <td class="text-wrap">
                                            @item.Length  Minutes
                                        </td>



                                        <td>
                                            <a href="@Url.Action("EditSchedule", "Schedule", new { id=item.ScheduleId })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("Delete", "Schedule", new { id=item.ScheduleId })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>

                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
   

</div>
<script type="text/javascript">

    $(document).ready(function () {

        $('#EventScheduleDate').hide();
        $('#EventDateInput').hide();

        $('#EventScheduleDay').hide();
        $('#EventDayInput').hide();
        $('#EventChurchName').show();
        $('#EventInput').show();

        ShowDateDiv();
        loadSchedule();
    });

     function Open(camId) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("EditCamera", "Camera")',
            data: { id: camId },
            success: function (data) {
                $('#Preview').html(data);
                $('#EditModal').modal('show');
            }
        })
    }

  

    function ShowChurchDiv() {


        $('#EventScheduleDate').hide();
        $('#EventDateInput').hide();

        $('#EventScheduleDay').hide();
        $('#EventDayInput').hide();
        $('#EventChurchName').show();
        $('#EventInput').show();

        

    }

    function ShowDateDiv() {


        $('#EventScheduleDate').show();
        $('#EventDateInput').show();

        $('#EventScheduleDay').hide();
        $('#EventDayInput').hide();
        $('#EventChurchName').hide();
        $('#EventInput').hide();
       

    }

    function ShowDayDiv() {
        $('#EventScheduleDate').hide();
        $('#EventDateInput').hide();

        $('#EventScheduleDay').show();
        $('#EventDayInput').show();
        $('#EventChurchName').hide();
        $('#EventInput').hide();


    }

    function AddSchedule() {

        $('#AddScheduleModal').modal('show');

    }

    function EditSchedule() {

        $('#EditScheduleModal').modal('show');

    }


</script>

