@using Microsoft.AspNetCore.Http;
@model MCNMedia_Dev.Models.Church
@{
    ViewData["Title"] = "ChurchInfo";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

}
@{
    int usrId = -1;
    if(Context.Session.GetInt32("UserId") != null)
        usrId =(int)Context.Session.GetInt32("UserId");
    List<SelectListItem> SelectList = Lists.GetUserAssignChurchListForDDL(usrId);


    //string name ="";
    //string address = "";
    //name = Model.ChurchName;
    //address = Model.Address;
    //string abc = "12345";



}
<script src="~/theme/js/FormValidation.js"></script>

<form method="get">
    <div class="card ">
        <div class="card-body">
            <div class="form-group row p-3" id="alertDiv">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" id="alertLabel">

                    </div>
                </div>
            </div>

            <div class="form-group row">

                @Html.DropDownList("ChurchId", SelectList, new { @class = "form-control", @onchange = "javascript:onChangeFunction()", @id = "ddlid" })
                @*@Html.DropDownList("Churches.ClientTypeId", ClientTypes, new { @class = "form-control" })*@
                <span class="text-danger"></span>
            </div>


        </div>
    </div>
</form>
<form asp-action="UpdateChurchInfo" method="post" class="needs-validation" novalidate>
    <div class="card">
        <div class="card-body">
            <input type="hidden" />
            <div class=".display2 mdi mdi-information-variant"> General Info</div>
            <div class="form-group row ">
                <div class="col-sm-4 pt-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <div>
                                <input type="hidden" asp-for="ImageURl" value="@Model.ImageURl" id="ImageURl123" class="dropify" />

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class=" form-group row">
                        <div class="col-sm-12">
                            @*id="validationCustom01"*@
                            <input type="hidden" asp-for="CountyId" value="@Model.CountyId" id="CountyId123" />
                            <input type="hidden" asp-for="ClientTypeId" value="@Model.ClientTypeId" id="ClientTypeId123" />
                            
                            <label class="form-label">Name</label>

                            @Html.TextBoxFor(Model => Model.ChurchName, new { @class = "form-control", required = "required" })
                            <input type="hidden" asp-for="ChurchId" value="@Model.ChurchId" id="ChurchId123" />
                            @*<input type="text" class="form-control" asp-for="ChurchName"  />*@
                            <div class="invalid-feedback">
                                Please Provide a valid Church Name
                            </div>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <div class="col-sm-4">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" value="@Model.EmailAddress" required placeholder="Email" asp-for="EmailAddress"/>
                            <div class="invalid-feedback">
                                Please Provide a valid Email
                            </div>
                        </div>
                    
                        <div class="col-sm-4">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control" placeholder="Phone" asp-for="Phone" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Phone
                            </div>
                        </div>
                    
                        <div class="col-sm-4">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" placeholder="Address" asp-for="Address" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Address
                            </div>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <div class="col-sm-4">
                            <label class="form-label">Town</label>
                            <input type="text" class="form-control" placeholder="Town" asp-for="Town" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Town
                            </div>
                        </div>
                  
                        <div class="col-sm-4">
                            <label class="form-label">WebSite</label>
                            <input type="text" class="form-control" placeholder="Address" asp-for="Website" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Website
                            </div>
                        </div>

                  
                        <div class="col-sm-4">
                            <label class="form-label">Password</label>
                            <input type="text" id="Password" class="form-control" placeholder="Password" asp-for="Password" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Password
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-right">

                        <button type="submit" value="Update" class="btn btn-success btn-sm " title="Update"><i class="mdi mdi-update"></i> Update</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

        $("#ddlid").prop("selectedIndex", 0); // here 0 means select first option
        onChangeFunction();
    });
      function onChangeFunction() {


        var churchId = document.getElementById('ddlid').value;
        //var formData = new FormData();
        //formData.append("ddlValue", ddlValue);

        $.ajax({
            type: "GET",
            //url: "/Client/Client/",
            url: '@Url.Action("GetChurchInfoById", "Client")',
            data: { churchId: churchId },
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';

                $.each(result, function (key, item) {

                    $("#ChurchName").val(item.churchName) ;
                    $("#EmailAddress").val(item.emailAddress);
                    $("#Phone").val(item.phone);
                    $("#Address").val(item.address);
                    $("#Town").val(item.town);
                    $("#Website").val(item.website);
                    $("#ChurchId123").val(item.churchId);
                    $("#Password").val(item.password);
                    $("#ImageUrl12").attr("src", item.imageURl);
                    $("#CountyId123").val(item.countyId);
                    $("#ClientTypeId123").val(item.clientTypeId);
                    $("#ImageURl123").val( item.imageURl);



                });
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }


            //data: formData,
            //data: { AddVidTabName: AddvidTabName, VidFile11: VidFile1 },
        });

    }


</script>



<script>

    $(document).ready(function () {


        $('#alertDiv').hide();
    });
    $('#ValUserSubmit').click(function () {

        var s = "";
        
     
        if ($('#validationCustom01').val() == '') {

            s += '<label>Please Provide a Valid First Name</label></br>'
            $('#alertLabel').html(s);
            $('#alertDiv').show();

        }
        
        if ($('#validationCustom02').val() == '') {

            s += '<label>Please Provide a Valid Last Name</label></br>'
            $('#alertLabel').html(s);
            $('#alertDiv').show();

        }
        if ($('#validationCustom03').val() == '') {

            s += '<label>Please Provide a Valid Email Address</label></br>'
            $('#alertLabel').html(s);
            $('#alertDiv').show();

        }

        if ($('#validationCustom04').val() == '') {

            s += '<label>Please Provide a Valid Login Password</label></br>'
            $('#alertLabel').html(s);
            $('#alertDiv').show();

        }
      
        if ($('#validationCustom05').val() == '') {

            s += '<label>Please Provide a Valid Confirm Password</label></br>'
            $('#alertLabel').html(s);
            $('#alertDiv').show();
           

        }

        if ($('#select1').val() == '0') {

            $('#select1').attr('class', 'form-control border-danger');

            s += '<label>Please Provide a Valid Role</label></br>'
            $('#alertLabel').html(s);
            $('#alertDiv').show();
        }
      




    });
</script>
