
@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "ChurchInfo";
    Layout = "~/Views/Shared/_LayoutClientNew.cshtml";
}
@using Microsoft.AspNetCore.Http;
<script src="~/theme/js/FormValidation.js"></script>
<style>
    .invalidImage {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }
</style>

<div class="row m-0 mb-3">
    <div class="col-lg-12">
        <div class="alert alert-danger" id="addChurchListErrorMessage" hidden>

        </div>

    </div>

</div>
<div class="row m-0 mb-3">
    <div class="col-lg-12">
        <div class="alert alert-success" id="addChurchListSuccessMessage" hidden>

        </div>

    </div>

</div>
<form asp-action="UpdateChurchInfo" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="card">
        <div class="card-header card-header-custom">
            <label id="HeaderChurchName">@Model.Churches.ChurchName, @Model.Churches.Town</label>
        </div>
        <div class="card-body">
            <input type="hidden" />
            <div class="form-group row ">
                <div class="col-sm-4 pt-4">
                    <div class="form-group row">
                        <div class="col-sm-12" style="height:275px;">
                            <div class="card" id="cardImage">
                                <div class="card-body ">
                                    <input asp-for="Churches.ImageURl" type="file" name="ImageUrl" class="dropify" id="Churches_ImageURl" />
                                    <span asp-validation-for="Churches.ImageURl" class="text-danger"></span>
                                    <input type="hidden" asp-for="Churches.ImageURl" name="hdnImageUrl" id="ImageCheckUrl" />
                                </div>
                                <div class="invalid-feedback" id="ImageText1">
                                    Please Select a valid Image Image Supported Only jpeg, jpg, png, gif, bmp
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class=" form-group row">
                        <div class="col-sm-12">
                            @*id="validationCustom01"*@
                            <input type="hidden" asp-for="Churches.CountyId" value="@Model.Churches.CountyId" id="CountyId123" />
                            <input type="hidden" asp-for="Churches.ClientTypeId" value="@Model.Churches.ClientTypeId" id="ClientTypeId123" />
                            <label class="form-label">Name</label>
                            @Html.TextBoxFor(Model => Model.Churches.ChurchName, new { @class = "form-control", required = "required" })
                            <input type="hidden" asp-for="Churches.ChurchId" value="@Model.Churches.ChurchId" id="ChurchId123" />
                            @*<input type="text" class="form-control" asp-for="ChurchName"  />*@
                            <div class="invalid-feedback">
                                Please Provide a valid Church Name
                            </div>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <div class="col-sm-4">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" value="@Model.Churches.EmailAddress" required placeholder="Email" asp-for="Churches.EmailAddress" />
                            <div class="invalid-feedback">
                                Please Provide a valid Email
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control" data-inputmask-alias="99999999999999999999" im-insert="true" placeholder="Phone" asp-for="Churches.Phone" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Phone
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" placeholder="Address" asp-for="Churches.Address" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Address
                            </div>
                        </div>
                    </div>
                    <div class=" form-group row">
                        <div class="col-sm-4">
                            <label class="form-label">Town</label>
                            <input type="text" class="form-control" placeholder="Town" asp-for="Churches.Town" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Town
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">WebSite</label>
                            <input type="text" class="form-control" placeholder="Address" asp-for="Churches.Website" required />
                            <div class="invalid-feedback">
                                Please Provide a valid Website
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label">Password</label>
                            <input type="text" id="Password" class="form-control" placeholder="Churches.Password" asp-for="Churches.Password" />
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Churches.RecordingShowOnWebSite" /> @Html.DisplayNameFor(model => model.Churches.RecordingShowOnWebSite)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Churches.AllowDownload" /> @Html.DisplayNameFor(model => model.Churches.AllowDownload)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Churches.ScheduleShowOnWebSite" /> @Html.DisplayNameFor(model => model.Churches.ScheduleShowOnWebSite)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Embeded Code</h3>
                            @{
                                string SrcAddress = "http://dev.mcnmedia.tv/iframe/" + Model.Churches.UniqueIdentifier;
                                <pre class="font-16 font-weight-bolder" style="background-color:transparent"><code>&lt;iframe  src="@SrcAddress" allowfullscreen frameborder="0"&gt;&lt;/iframe&gt;</code></pre>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group float-right">
                <button type="submit" id="ValClientChurchSubmit" value="Update" class="btn btn-success btn-sm " title="Update"><i class="mdi mdi-update"></i> Update</button>
            </div>
        </div>
    </div>
</form>
<form asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card mt-4">
        <div class="card-header card-header-custom">
            Donation
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="ChurchDonations.DonationId" class="form-control" id="DonationId" />
            <input type="hidden" asp-for="ChurchDonations.ImageUrl" class="form-control" id="medUrl" />
            <div class="form-group row ">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="col-sm-12" style="height:275px;">
                            <div class="card" id="cardImage_Donation">
                                <div class="card-body ">
                                    <input asp-for="ChurchDonations.ImageUrl" class="dropify" type="file" name="Donation_ImageUrl2" id="Donation_ImageURl" />
                                    <span asp-validation-for="ChurchDonations.ImageUrl" class="text-danger"></span>
                                    <input type="hidden" id="HdnMediaUrl2" asp-for="ChurchDonations.ImageUrl" />
                                </div>
                                <div class="invalid-feedback" id="ImageText_donation">
                                    "Jpeg, jpg, png, gif, bmp" are supported only.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class=" form-group row">
                        <div class="col-sm-12">
                            <label asp-for="ChurchDonations.WebSiteUrl" class="control-label">Website</label>
                            <input type="text" class="form-control" placeholder="Website" asp-for="ChurchDonations.WebSiteUrl" id="editWebisteUrl" required />
                            <span asp-validation-for="ChurchDonations.WebSiteUrl" class="text-danger"></span>
                            <div class="invalid-feedback" id="editWebisteUrl_invalid">
                                Please provide a valid url
                            </div>
                        </div>
                        <div class="col-sm-12 pt-3">
                            <div class="form-group form-check col-sm-12">
                                <label class="form-check-label">
                                    <input id="showOnWeb" class="form-check-input" asp-for="ChurchDonations.ShowOnWebsite" /> Show on website
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group float-right">
                        <a onclick="UpdateDonation()" class="btn btn-success btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Update"><i class="mdi mdi-update text-white"></i> Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var ImageData_Donation = $('#Donation_ImageURl').val();

    $('#Donation_ImageURl').change(function () {
        ValidateDonations();
    });

    function ValidateDonations() {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        var input = document.getElementById('Donation_ImageURl');
        if (input.files[0] != null) {
            var fileName = input.files[0].name;
            if ($.inArray(fileName.split('.').pop().toLowerCase(), fileExtension) == -1) {
                return ImageInvalid();
            }
            else {
                return ImageValid();
            }
        }
        else if ($.inArray($('#HdnMediaUrl2').val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            return ImageInvalid();
        }
        else {
            return ImageValid();
        }
    }

    function ImageInvalid() {
        $('#cardImage_Donation').attr("class", "card border-danger");
        $('#ImageText_donation').show();
        return false;
    }

    function ImageValid() {
        $('#cardImage_Donation').attr("class", "card border-success");
        $('#ImageText_donation').hide();
        return true;
    }

    function UpdateDonation() {
        var imageValidation = ValidateDonations();
        if (imageValidation) {

        }
        else {
            return;
        }
        var editWebsiteUrl = document.getElementById('editWebisteUrl').value;
        if (editWebsiteUrl == '') {
            $('#editWebisteUrl').attr("class", "form-control border-danger");
            $('#editWebisteUrl_invalid').show();
            return;
        }
        var ss = "";
        var churchDonationId = $('#DonationId').val();

        var input = document.getElementById('Donation_ImageURl');
        var imageUrl = $('#HdnMediaUrl2').val();
        var formData = new FormData();
        formData.append("ChurchDonationId", churchDonationId);
        formData.append("EditWebsiteUrl", editWebsiteUrl);
        formData.append("ImageUrlChurch", imageUrl);
        formData.append("ShowOnWebsite", document.getElementById("showOnWeb").checked);
        formData.append("mediaFile", input.files[0]);

        $.ajax({
            type: "POST",
            url: "/ChurchDonation/UpdateDonation/",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (result) {
                if (result.success) {
                    $(window).scrollTop(0);
                    $('#addChurchListSuccessMessage').removeAttr('hidden');
                    $('#addChurchListSuccessMessage').html('Church donation updated successfully');
                    $('#addChurchListSuccessMessage').fadeIn();

                    $('#addChurchListSuccessMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#addChurchListSuccessMessage").slideUp(500);
                    });
                    $('#addChurchListSuccessMessage').attr('hidden');
                }
                else {
                    $(window).scrollTop(0);
                    $('#addChurchListErrorMessage').removeAttr('hidden');
                    $('#addChurchListErrorMessage').html(result.responseText);
                    $('#addChurchListErrorMessage').fadeIn();

                    $('#addChurchListErrorMessage').fadeTo(5000, 500).slideUp(500, function () {
                        $("#addChurchListErrorMessage").slideUp(500);
                        $('#addChurchListErrorMessage').attr('hidden');
                    });
                    $('#addChurchListErrorMessage').attr('hidden');
                }

            },
            error: function (errormessage) {
                //alert(errormessage.responseText);
            }
        });
    }
</script>

<script>
    var ImageData = $('#Churches_ImageURl').val();

    $(document).ready(function () {
        var filedropper = $('#Churches_ImageURl').dropify();
        filedropper = filedropper.data('dropify');
        filedropper.resetPreview();
        filedropper.clearElement();
        filedropper.settings['defaultFile'] = $('#ImageCheckUrl').val();
        filedropper.destroy();
        filedropper.init();


        $('#alertDiv131').hide();
        var filedropper1 = $('#Donation_ImageURl').dropify();
        filedropper1 = filedropper1.data('dropify');
        filedropper1.resetPreview();
        filedropper1.clearElement();

        filedropper1.settings['defaultFile'] = $('#medUrl').val();
        filedropper1.destroy();
        filedropper1.init();
    });

    $('#ValClientChurchSubmit').click(function () {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($('#ImageData').val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            if ($('#ImageCheckUrl').val() == "") {
                $('#cardImage').attr("class", "card border-danger");
                $('#ImageText1').show();
                return false;
            }
        }
        else {
            $('#cardImage').attr("class", "card border-success");
            $('#ImageText1').hide();
        }
    });

    $('#Churches_ImageURl').change(function () {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($('#Churches_ImageURl').val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            $('#cardImage').attr("class", "card border-danger");
            $('#ImageText1').show();
            return false;
        }
        else {
            $('#cardImage').attr("class", "card border-success");
            $('#ImageText1').hide();
        }
    });
</script>

