@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "Recording";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";

}

<script src="~/js/jwplayer.js"></script>
<div class="card">
    <div class="card-header card-header-custom">
        Manage Recordings
    </div>
       
    
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("ListRecording", "Recording", FormMethod.Post))
                {

                    <table class="table">
                        <thead>
                            <tr>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.RecordingId)
                                    </th>*@
                                <th>
                                    Title
                                </th>
                                <th>
                                    URL
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LRecordings)
                            {
                                <tr>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>*@
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.RecordingTitle, new { @class = "text-wrap" })
                                    </td>
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.RecordingURl, new { @class = "text-wrap" })
                                    </td>
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.Date, new { @class = "text-wrap" })
                                    </td>
                                    <td class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.Time, new { @class = "text-wrap" })
                                    </td>

                                    <td>
                                        <a href="@Url.Action("EditRecordingClient", "Client", new { id=item.RecordingId })" class="btn btn-primary btn-sm " data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>

                                        @{
                                            var UrlDownload = item.RecordingURl;

                                            <a href="@UrlDownload" download class="btn btn-warning btn-sm ti-download text-white" title="Download"></a>
                                        }
                                        <a href="@Url.Action("ClientPlayer", "Client",new { id = item.RecordingId })" target="_blank" class="ply-vid">
                                            <i class="btn btn-success btn-sm ti-control-play"></i>
                                        </a>
                                        @*<button type="button" data-id="@item.RecordingURl" id="playModelCheck" class="btn btn-success btn-sm ti-control-play" title="Play" data-toggle="modal" data-target="#PlayRecordingModal"></button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="PlayRecordingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  mt-4" role="document" style="max-width:750px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Play Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="PlayRecordingPreview">
                        <div id="videoUrl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jwplayer.key = "SNzmJfLzOyLvUOZxE3J2qsi0RmsfnZKN8DnKtQ==";
    $(document).on("click", ".ti-control-play", function () {
        var url = $(this).data('id');

        jwplayer('videoUrl').setup({
            file: url,
            image: "../Images/jwerror.jpg",
            width: "100%",
            aspectratio: "16:9",
            //autostart: 'true',
            "autostart": "viewable",
            "advertising": {
                "client": "vast",
                "tag": ""
            }
        });
        jwplayer().onError(function () {
            jwplayer().play();
        });
    });

</script>