@model MCNMedia_Dev.Models.GenericModel
@{
    ViewData["Title"] = "ScheduleAndRecording";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";

}
<div class="row">
    <div class="col-10">

        <div class="card">
            <div class="card-body">
                @*<a id="ADDSchedule" class="btn btn-success btn-sm float-right" href="../Schedule/AddSchedule"> <i class="fa fa-plus"></i> Add Schedule</a>*@
                <h3>Manage Schedules</h3>
                <br />
                <div class="">
                    <table class="table">
                        <thead>
                            <tr>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.UserId)
                                    </th>*@
                                <th>
                                    Event Name
                                </th>
                                <th>
                                    Event Date
                                </th>
                                <th>
                                    Event Time
                                </th>
                                <th>
                                    Event Day
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LSchedules)
                            {
                                <tr>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>*@
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.ChurchName)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventDay)
                                    </td>

                                    <td>
                                        <a href="@Url.Action("EditSchedule", "Schedule", new { id=item.ScheduleId })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                                        @*<a href="@Url.Action("Delete", "Schedule", new { id=item.ScheduleId })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <br />

        <div class="card">
            <div class="card-body">
                <h3>Manage Recordings</h3>
                <br />
                <div class="">
                    @using (Html.BeginForm("ListRecording", "Recording", FormMethod.Post))
                    {

                        <table class="table">
                            <thead>
                                <tr>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.RecordingId)
                                        </th>*@
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        URL
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                           <tbody>
                            @foreach (var item in Model.LRecordings)
                            {
                                <tr>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecordingTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecordingURl)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Time)
                                    </td>

                                    <td>
                                        <a href="@Url.Action("EditRecording", "Recording", new { id=item.RecordingId })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                                        @*<a href="@Url.Action("Delete", "Schedule", new { id=item.ScheduleId })" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                        </table>
                    }
                </div>

            </div>
        </div>



    </div>


    <div class="card col-2">
        <div class="card-body">
            <h5><i class="ti-settings icon-menu"> </i> Schedule option</h5>
            <div style="font-size:10px">
                <p><input id="Radio1" type="radio" name="Recording" /> Hide All Recording</p>
                <br />
                <br />
                <p><input id="Radio2" type="radio" name="Recording" /> Allow user to download recording</p>
                <br />
                <br />
                <p><input id="Radio3" type="radio" name="Recording" /> Hide Schedule</p>
            </div>
        </div>
    </div>
</div>
