@model MCNMedia_Dev.Models.GenericModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "ChurchDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TabName = @HttpContextAccessor.HttpContext.Session.GetString("TabName");
    @HttpContextAccessor.HttpContext.Session.SetString("TabName", "");
}
<script type="text/javascript">

    $(document).ready(function () {

        var curTabName = '@ViewBag.TabName';
        if (curTabName == '') {
            $("#Camera-tab").click();
        }
        else {
            $("#"+curTabName+"-tab").click();
        }

});

</script>

    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Church Details</h4>
                <h3>@ViewData["message"]</h3>
                <ul class="nav nav-tabs small" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Camera-tab" data-toggle="tab" href="#Camera-1" role="tab" aria-controls="Camera-1" aria-selected="true"><i class="fa fa-camera-retro text-success"></i>  Camera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Information-tab" data-toggle="tab" href="#Information-1" role="tab" aria-controls="Information-1" aria-selected="false"><i class="fa fa-info-circle text-info"></i> Information</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="Slideshow-tab" data-toggle="tab" href="#Slideshow-1" role="tab" aria-controls="Slideshow-1" aria-selected="false"><i class="mdi mdi-folder-multiple-image text-info"></i>  Slideshow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Video-tab" data-toggle="tab" href="#Video-1" role="tab" aria-controls="Video-1" aria-selected="false"><i class="fa fa-file-video-o text-danger"></i>  Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Picture-tab" data-toggle="tab" href="#Picture-1" role="tab" aria-controls="Picture-1" aria-selected="false"><i class="fa fa-picture-o text-success"></i>  Picture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Notice-tab" data-toggle="tab" href="#Notice-1" role="tab" aria-controls="Notice-1" aria-selected="false"><i class="fa fa-sticky-note-o text-info"></i>  Notice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Setup-tab" data-toggle="tab" href="#Setup-1" role="tab" aria-controls="Setup-1" aria-selected="false"><i class="fa fa-cogs text-info"></i> Set Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Announcement-tab" data-toggle="tab" href="#Announcement-1" role="tab" aria-controls="Announcement-1" aria-selected="false"><i class="fa fa-envelope-o text-info"></i> Announcement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Schedule-tab" data-toggle="tab" href="#Schedule-1" role="tab" aria-controls="Schedule-1" aria-selected="false"><i class="fa fa-calendar text-info"></i> Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="NewsLetter-tab" data-toggle="tab" href="#NewsLetter-1" role="tab" aria-controls="NewsLetter-1" aria-selected="false"><i class=" fa fa-envelope-open  text-info"></i> NewsLetter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ChurchAnalytics-tab" data-toggle="tab" href="#ChurchAnalytics-1" role="tab" aria-controls="ChurchAnalytics-1" aria-selected="false"><i class=" ti-bar-chart-alt menu-icon  text-info"></i> Church Analytics</a>
                    </li>

                </ul>
                <div class="tab-content">

                    <div class="tab-pane fade " id="Information-1" role="tabpanel" aria-labelledby="Information-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/Church/_ChurchInfo.cshtml")
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane fade" id="Picture-1" role="tabpanel" aria-labelledby="Picture-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/MediaChurch/_Pictures.cshtml")
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane fade" id="Slideshow-1" role="tabpanel" aria-labelledby="Slideshow-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/MediaChurch/_Slideshow.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Video-1" role="tabpanel" aria-labelledby="Video-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/MediaChurch/_ListVideo.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Notice-1" role="tabpanel" aria-labelledby="Notice-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/Notice/_ListNotice.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Setup-1" role="tabpanel" aria-labelledby="Setup-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/SetUp/InsertSetUp.cshtml")
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="Announcement-1" role="tabpanel" aria-labelledby="Announcement-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/Announcement/_ListAnnouncement.cshtml")
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="Schedule-1" role="tabpanel" aria-labelledby="Schedule-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/ChurchSchedule/_ListSchedule.cshtml")
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="NewsLetter-1" role="tabpanel" aria-labelledby="NewsLetter-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/ChurchNewsLetter/_ListChurchNewsLetter.cshtml")
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="ChurchAnalytics-1" role="tabpanel" aria-labelledby="ChurchAnalytics-tab">
                        <div class="media">
                            <div class="media-body">

                                @Html.Partial("~/Views/Church/ChurchAnalytics.cshtml",Model.AnalyticsList)
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade show active" id="Camera-1" role="tabpanel" aria-labelledby="Camera-tab">
                        <div class="media">
                            <div class="media-body">
                                @Html.Partial("~/Views/Camera/_Camera.cshtml")
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane fade" id="Notice-1" role="tabpanel" aria-labelledby="Notice-tab">
                        <h4>Notice</h4>
                        <p>
                            Feel free to contact us if you have any questions!
                        </p>
                        <p>
                            <i class="ti-headphone-alt text-info"></i>
                            +123456789
                        </p>
                        <p>
                            <i class="ti-email text-success"></i>
                            contactus@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


