@model IEnumerable<MCNMedia_Dev.Models.Church>
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@{
    ViewData["Title"] = "Listchurch";

}


<div id="body_holder" >
    <div class="card mb-3">
        <div class="card-header card-header-custom">
            Search Church
        </div>
        <div class="card-body">
            <div class="">
                <form method="get" asp-action="SearchChurch" asp-controller="church">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Church Name</label>
                                <div class="col-sm-8">
                                    @Html.TextBox("ChurchName", "", new { @class = "form-control", @placeholder = "Enter Church Name" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Client Type</label>
                                <div class="col-sm-8">
                                    <select name="ClientType" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.ClientTypes,"Value","Text",Context.Session.GetInt32("ClientType")))">
                                        <option value="-1">--Select Client--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Email Address</label>
                                <div class="col-sm-8">
                                    @Html.TextBox("EmailAddress", "", new { @class = "form-control", @placeholder = "Enter Email Address" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Country</label>
                                <div class="col-sm-8">
                                    <select name="County" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.Counties,"Value","Text",Context.Session.GetInt32("County")))">
                                        <option value="-1">--Select County--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Phone</label>
                                <div class="col-sm-8">
                                    @Html.TextBox("PhoneNo", "", new { @class = "form-control", @placeholder = "Phone" })
                                </div>
                            </div>
                        </div>
                        <div>
                            @*<div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Page Size</label>
                                        <div class="col-sm-8">
                                            @Html.TextBox("PageSize", "", new { @class = "form-control", @placeholder = "Page Size" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Page Index</label>
                                        <div class="col-sm-8">
                                            @Html.TextBox("PageIndex", "", new { @class = "form-control", @placeholder = "Page Index" })
                                        </div>
                                    </div>
                                </div>*@
                        </div>

                        <div class="col-md-6">
                            <div class="form-group  row">
                                <label class="col-sm-4 col-form-label"></label>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-info btn-sm text-white" title="Search"><i class="mdi mdi-table-search text-white"></i>Search</button>
                                    <a asp-controller="church" asp-action="ListChurch" class="btn btn-warning btn-sm text-white" title="Cancel"><i class="mdi mdi-cancel text-white"></i>Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header card-header-custom">
            <a id="AddNew" class="btn btn-outline-warning btn-custom btn-sm float-right" onclick="AddChurchPopup()" title="Add New"> <i class="fa fa-plus"></i> Add Church</a>
            Manage Churches
        </div>
        <div class="card-body">
            <div>
                @*<div class="row mb-2">
                        <div class="col-md-12">
                            <button  class="btn btn-sm btn-info mr-2"><span class="text-white"><i class="mdi mdi-less-than"></i></span></button>
                            <input type="text" class="col-sm-1 h-100 mr-2 border border-info text-center" />
                            <button class="btn btn-sm btn-info mr-2"><span class="text-white"><i class="mdi mdi-greater-than"></i></span></button>
                            <label class="mr-2"> Pages of</label>
                            <select id="ddlPageSize" onchange="onPageSizeChange()" name="value" class="col-sm-1 h-100 mr-2">

                                <option name="value" value="10">10</option>
                                <option name="value" value="20">20</option>
                                <option name="value" value="50">50</option>
                                <option name="value" value="100">100</option>
                                <option name="value" value="All">All</option>
                            </select>
                            <label class="mr-2"> Total  Records</label>
                        </div>
                    </div>*@
            </div>

           
                <div id="order-listing_wrapper" class="dt-bootstrap4 no-footer">

                    <div class="row">
                        <div class="col-12">
                            <table id="order-listing" class="table dataTable no-footer" role="grid" hidden >
                                <thead>
                                    <tr>
                                        <th class="sortStyle">Details </th>
                                        <th class="sortStyle">Church Name </th>
                                        <th class="sortStyle"> County </th>
                                        <th class="sortStyle"> Town </th>
                                        <th class="sortStyle">Email Address </th>
                                        <th class="sortStyle"> Phone </th>
                                       
                                        <th>Preview</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Church", "Admin",new { ch = item.ChurchId })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Details"><i class="fa fa-bars"></i></a>
                                        </td>
                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.ChurchName, new { @class = "text-wrap" }) , @Html.DisplayFor(modelItem => item.Town, new { @class = "text-wrap" })
                                        </td>
                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.CountyName)
                                        </td>
                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.Town)
                                        </td>
                                        <td class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.EmailAddress, new { @class = "text-wrap", @style = "max-width:10ch" })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        
                                        <td>
                                            <a href="@Url.Action("Profile", "Website",new { Id = item.Slug })" target="_blank" add this to list church class="btn btn-warning btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="mdi mdi-window-open"></i></a>
                                            <a onclick="DeleteChurchClick(@item.ChurchId)" class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="">
                    @*<div class="table-responsive">
                            <table id="sortable-table-1" class="table">
                                <thead>
                                    <tr>
                                        <th class="sortStyle">Details <i class="ti-angle-down"></i></th>
                                        <th class="sortStyle">Church Name <i class="ti-angle-down"></i></th>
                                        <th class="sortStyle"> County <i class="ti-angle-down"></i></th>
                                        <th class="sortStyle"> Town <i class="ti-angle-down"></i></th>
                                        <th class="sortStyle">Email Address <i class="ti-angle-down"></i></th>
                                        <th class="sortStyle"> Phone <i class="ti-angle-down"></i></th>
                                        <th>Preview</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Church", "Admin",new { ch = item.ChurchId })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Details"><i class="fa fa-bars"></i></a>
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.ChurchName, new { @class = "text-wrap" })
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.CountyName)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.Town)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.EmailAddress, new { @class = "text-wrap" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Profile", "Website",new { Id = item.Slug })" target="_blank" add this to list church class="btn btn-warning btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="mdi mdi-window-open"></i></a>
                                                <a onclick="DeleteChurchClick(@item.ChurchId)" class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>*@
                </div>
                @*<div class="row">
                        <div class="col-md-12">
                            <div class="float-right">
                                <cs-pager cs-paging-pagenumber=(int)Model.PageNumber
                                          cs-paging-totalitems=(int)Model.TotalItems
                                          cs-paging-pagesize=(int)Model.PageSize
                                          cs-pagenumber-param="pagenumber"
                                          asp-controller="church"
                                          cs-pager-li-current-class="page-item active"
                                          cs-pager-li-other-class="page-item"
                                          cs-pager-li-non-active-class="page-item disabled"
                                          cs-pager-link-current-class="page-link"
                                          cs-pager-link-other-class="page-link"
                                          asp-action="Listchurch"></cs-pager>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="modal fade" id="AddChurchPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Church</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                                </button>
                            </div>
                            <div class="modal-body" id="AddChurchPreview">
                                @Html.Partial("~/Views/Church/AddChurch.cshtml", new Church())
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

    function onPageSizeChange() {
        var id = $('#ddlPageSize').val();
        alert(id);
        window.location.href = '/church/PageSize/' + id;
    }

    function AddChurchPopup() {


        $('#AddChurchPopUp').modal('show');

    }

    function DeleteChurchClick(ChurchId) {

        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your file has been deleted!", {
        icon: "success",

    });
        $.ajax({
            type: "Get",
            url: '@Url.Action("Delete", "Church")',
            data: { id: ChurchId },

        });
      window.location.reload();
  } else {
         swal("Your file is safe!");
  }
});


    }
        </script>




    </div>


<script>
    $(document).ready(function () {
        $('#order-listing').removeAttr('hidden');
    });
 
   
</script>