@model MCNMedia_Dev.Models.GenericModel
@{

}

@using (Html.BeginForm("AddCamera", "Camera", FormMethod.Post))

{
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @*<h4 class="card-title">Camera</h4>*@

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-center"> Tab Name</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Cameras.CameraName, new { @class = "form-control form-control", @id = "tabName", @required = "required", @size = "40", @placeholder = "", @vfield = "Y", @nreq = "Y", @maxlength = "60", @nmaxlen = "60", @ntype = "nonNumeric", @nfrom = "register" })
                        @Html.HiddenFor(model => model.Cameras.CameraId, new { @id = "CameraId" })
                        @Html.HiddenFor(model => model.Cameras.ChurchId, new { @id = "ChurchId" })
                    </div>
                    @*</div>
                        <div class="form-group row">*@
                    <label class="col-sm-2 col-form-label text-center"> Camera RTSP</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Cameras.CameraUrl, new { @class = "form-control form-control", @id = "cameraRtsp", @required = "required", @size = "40", @placeholder = "", @vfield = "Y", @nreq = "Y", @maxlength = "60", @nmaxlen = "60", @ntype = "nonNumeric", @nfrom = "register" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-center"> HTTP Port</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Cameras.HttpPort, new { @class = "form-control form-control", @id = "httpPort", @required = "required", @size = "40", @placeholder = "", @vfield = "Y", @nreq = "Y", @maxlength = "60", @nmaxlen = "60", @ntype = "nonNumeric", @nfrom = "register" })
                    </div>
                    @*</div>
                        <div class="form-group row">*@
                    <label class="col-sm-2 col-form-label text-center"> RTSP Port</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Cameras.RtspPort, new { @class = "form-control form-control", @id = "rtspPort", @required = "required", @size = "40", @placeholder = "", @vfield = "Y", @nreq = "Y", @maxlength = "60", @nmaxlen = "60", @ntype = "nonNumeric", @nfrom = "register" })
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-sm-2 col-form-label text-center" asp-for="Cameras.ServerName">Server</label>
                    @*<input asp-for="CountyId" class="form-control" />*@
                    <div class="col-sm-4">
                        <span asp-validation-for="Cameras.ServerName" class="text-danger"></span>
                        <select asp-for="Cameras.ServerId" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.Server,"Value","Text"))">
                            <option>--Select County--</option>
                        </select>
                    </div>
                </div> 
                <div class="float-right">
                    <button type="submit" value="Add" class="btn btn-primary btn-sm "><i class="fa fa-plus"></i> Add Camera</button>
                    <a id="back" class="btn btn-secondary btn-sm text-white " data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close-o text-white"></i> Cancel</a>
                </div>
            </div>
        </div>
    </div>
}


