@model MCNMedia_Dev.Models.Profile
@{
    ViewData["Title"] = "Customer Data";
    Layout = "";
    TempData.Keep("Password");
    TempData.Keep("ChurchIdentifier");

}
<html>
<head>
    <style type="text/css">

        .bluepurple {
            color: #1f4a79
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W57WR9F2ZX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-W57WR9F2ZX');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - MCN</title>
    <link rel="shortcut icon" href="~/theme/images/favicon.png" />
    <link href="~/theme/Loader.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <!-- font-awsome 5 -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @*<link href="~/WebsiteAssets/css/fontawesome.css" rel="stylesheet" />*@
    <!-- font-awsome 5 -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css">*@
    <link href="~/WebsiteAssets/css/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/tiny-slider.css">
    <link href="~/theme/WebsiteTheme.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/WebsiteAssets/css/style.css">
    <style type="text/css">
        .vjs-big-play-button {
            left: 45% !important;
            top: 45% !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css">

    <!-- plugins:css -->
    <link href="~/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/theme/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/theme/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/theme/vendors/mdi/css/materialdesignicons.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/theme/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- inject:css -->
    @*<link rel="stylesheet" href="~/theme/css/vertical-layout-light/style.css">*@
    <!-- endinject -->

    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
    <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
    <link href="~/WebsiteAssets/css/style1.css" rel="stylesheet" />

    <style>
        #owl-carousel-video {
            width: 100%;
        }

        .item-video {
            height: 275px !important;
            background-color: blue;
            display: block;
        }

        .active {
            color: black !important;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-12 col-xl-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <ul class="nav nav-tabs bg-blue" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link font-14 top-Menu-item pr-3 text-white active" style="border-right: 1px solid #c2c2c247;" id="Live-Stream-tab" data-toggle="tab" href="#Live-Stream" role="tab" aria-controls="Live-Stream-1" aria-selected="true"> Live Stream <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-14 top-Menu-item pr-3 text-white" style="border-right: 1px solid #c2c2c247;" id="Schedules-tab" data-toggle="tab" href="#Schedules" role="tab" aria-controls="Schedules-1" aria-selected="false">Schedules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-14 top-Menu-item pr-3 text-white" style="border-right: 1px solid #c2c2c247;" id="Recordings-tab" data-toggle="tab" href="#Recordings" role="tab" aria-controls="Recordings-1" aria-selected="false">Recordings</a>
                        </li>
                        <li class="nav-item" id="liVideoPlayer">
                            <a class="nav-link disabled font-14 top-Menu-item pr-3 text-white" style="border-right: 1px solid #c2c2c247;" id="VideoPlayer-tab" data-toggle="tab" href="#VideoPlayer" role="tab" aria-controls="VideoPlayer-1" aria-selected="false">Video Player</a>
                        </li>
                    </ul>


                    <div class="tab-content" id="tabs">
                        <div class="tab-pane fade active show" id="Live-Stream" role="tabpanel" aria-labelledby="Live-Stream-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="m-5 ">
                                        <div class="col-xl-12 col-md-12 p-lg-0">
                                            <div class="card" id="top-card">
                                                <div class="tab-content" id="pills-tabContent">
                                                    @{ int camCounter = 0; }
                                                    @foreach (Camera cam in Model.CameraList)
                                                    {
                                                        if (camCounter == 0)
                                                        {
                                                            <div class="tab-pane fade show active" id="pills-camera-@camCounter" role="tabpanel" aria-labelledby="pills-camera-tab-@camCounter">
                                                                <i class="fal fa-play-circle text-white vide-play-in"></i>
                                                                <video id='CameraLiveStream-@camCounter' controls class='video-js vjs-default-skin vjs-16-9' style="width:100%;">
                                                                    <source id="LiveStreamSrc-@camCounter" src="@cam.LiveStreamUrl" type="application/x-mpegURL">
                                                                </video>
                                                            </div> }
                                                        else
                                                        {
                                                            <div class="tab-pane fade" id="pills-camera-@camCounter" role="tabpanel" aria-labelledby="pills-camera-tab-@camCounter">
                                                                <i class="fal fa-play-circle text-white vide-play-in"></i>
                                                                <video id='CameraLiveStream-@camCounter' controls class='video-js vjs-default-skin  vjs-16-9' style="width:100%;">
                                                                    <source id="LiveStreamSrc-@camCounter" src="@cam.LiveStreamUrl" type="application/x-mpegURL">
                                                                </video>
                                                            </div>}
                                                        camCounter = camCounter + 1;
                                                    }

                                                    @if (Model.CameraList.Count() == 0)
                                                    {
                                                        <div class="tab-pane fade d-flex align-items-center justify-content-center show active" id="pills-camera-no" role="tabpanel" aria-labelledby="pills-camera-tab-no" style="width:100% !important;height:518px !important; background-color:black; text-align:center;">
                                                            <p class="text-white font-30">
                                                                Our camera is switched off at the moment.
                                                                <br />
                                                                Please come back when there is a service scheduled
                                                            </p>
                                                        </div>}
                                                    <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                                                        <div id="owl-carousel-video" class="owl-carousel owl-theme owl-center owl-loaded">

                                                            @foreach (MediaChurch vid in Model.VideoList)
                                                            {
                                                                string vlink = vid.MediaURL.ToString();
                                                                <div id='v-@vid.ChurchMediaId' mediaurl="@vid.MediaURL" class="vedslide"></div>}

                                                        </div>

                                                    </div>

                                                    <div class="tab-pane fade" id="pills-image" role="tabpanel" aria-labelledby="pills-image-tab">
                                                        <div id="carouselPictures" class="carousel slide" data-ride="carousel" data-interval="500000000000">
                                                            <div class="carousel-inner">
                                                                @{ int counter = 0; }
                                                                @foreach (MediaChurch pic in Model.PictureList)
                                                                {
                                                                    if (counter == 0)
                                                                    {
                                                                        counter = counter + 1;
                                                                        <div class="carousel-item active">

                                                                            <img src="@pic.MediaURL" class="d-block" style="height:518px;width:100%;justify-content:center;" alt="...">
                                                                        </div> }
                                                                    else
                                                                    {
                                                                        <div class="carousel-item">

                                                                            <img src="@pic.MediaURL" class="d-block" style="height:518px;width:100%;justify-content:center;" alt="...">
                                                                        </div>}
                                                                }
                                                            </div>
                                                            <a class="carousel-control-prev" href="#carouselPictures" role="button" data-slide="prev">
                                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                <span class="sr-only">Previous</span>
                                                            </a>
                                                            <a class="carousel-control-next" href="#carouselPictures" role="button" data-slide="next">
                                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                <span class="sr-only">Next</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bg-blue pt-3 pb-3">
                                                    <ul class="nav nav-tabs weekly font-14 mt-0 p-0 mb-0" id="pills-tab" role="tablist">
                                                        @{ int camTabCounter = 0; }
                                                        @foreach (Camera cam in Model.CameraList)
                                                        {

                                                            if (camCounter == 0)
                                                            {
                                                                <li class="nav-item">
                                                                    <a class="nav-link active pt-1 pb-1 pl-sm-3 pr-sm-3 pl-2 pr-2 text-white" onclick="OpenCamera('CameraLiveStream-@camTabCounter')" id="pills-camera-tab-@camTabCounter" data-toggle="pill" href="#pills-camera-@camTabCounter" role="tab" aria-controls="pills-camera-@camTabCounter" aria-selected="true">@cam.CameraName</a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li class="nav-item">
                                                                    <a class="nav-link pt-1 pb-1 pl-sm-3 pr-sm-3 pl-2 pr-2 text-white" onclick="OpenCamera('CameraLiveStream-@camTabCounter')" id="pills-camera-tab-@camTabCounter" data-toggle="pill" href="#pills-camera-@camTabCounter" role="tab" aria-controls="pills-camera-@camTabCounter" aria-selected="false">@cam.CameraName</a>
                                                                </li>
                                                            }
                                                            camTabCounter = camTabCounter + 1;
                                                        }

                                                        @*<li class="nav-item">
                                                <a class="nav-link" id="pills-slideshow-tab" data-toggle="pill" href="#pills-slideshow" role="tab" aria-controls="pills-slideshow" aria-selected="false">Slideshow</a>
                                            </li>*@
                                                        @if (Model.VideoList.Count() > 0)
                                                        {
                                                            <li class="nav-item">
                                                                <a class="nav-link pt-1 pb-1 pl-sm-3 pr-sm-3 pl-2 pr-2 text-white" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false">Videos</a>
                                                            </li>
                                                        }
                                                        @if (Model.PictureList.Count() > 0)
                                                        {
                                                            <li class="nav-item">
                                                                <a class="nav-link pt-1 pb-1 pl-sm-3 pr-sm-3 pl-2 pr-2 text-white" id="pills-image-tab" data-toggle="pill" href="#pills-image" role="tab" aria-controls="pills-image" aria-selected="false">Images</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Schedules" role="tabpanel" aria-labelledby="Schedules-tab">
                            <div class="row">
                                <div class="col-md-12">
                                   <input type="hidden" value="@TempData["ChurchIdentifier"]" id="churchIdForCustomerView"/>


                                    <script src="~/theme/js/modal-demo.js"></script>
                                    <script type="text/javascript">
                                        var sizeTheOverlays = function () {
                                            $(".overlay").resize().each(function () {
                                                var h = $(this).parent().outerHeight();
                                                var w = $(this).parent().outerWidth();
                                                $(this).css("height", h);
                                                $(this).css("width", w);
                                            });
                                        };

                                        sizeTheOverlays();


                                        var width = $(window).width();
                                        $(window).resize(function () {
                                            if ($(this).width() != width) {
                                                width = $(this).width();
                                                sizeTheOverlays();
                                            }
                                        });



                                    </script>


                                    <div class="form-group row m-5">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="">


                                                        <table class="table float-center ">
                                                            <thead>
                                                                <tr>

                                                                    <th>
                                                                        Days
                                                                    </th>
                                                                    <th>
                                                                        Events
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody class="SchList">
                                                            </tbody>
                                                        </table>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <script type="text/javascript">

                                        $(document).ready(function () {
                                            loadChurchSch();
                                        });

                                        function loadChurchSch() {
                                            var ChurchSlug = $('#churchIdForCustomerView').val();
                                        
                                            $.ajax({
                                                url: "/Customers/ListSchedule/" + ChurchSlug,
                                                type: "GET",
                                                contentType: "application/json;charset=utf-8",
                                                dataType: "json",
                                                success: function (result) {
                                                    var html = '';

                                                    $.each(result, function (key, item) {
                                                        html += '<tr>';

                                                        html += "<td class='border-right-sm w-25 p-0'><div class='card'> <div class='card-body bg-info'> " + item.eventDay + "</div></div ></td > ";
                                                        var str = item.eventName;
                                                        var array = str.split('|');
                                                        html += "<td class='text-wrap p-0'>";
                                                        $.each(array, function (key, item2) {
                                                            if (item2.length > 0) {
                                                                var IconRecord = "<i class='fa  fa-video-camera  text-danger'></i>"
                                                                var array2 = item2.split('^');

                                                                html += "<div class='p-2 float-left'><div class='panel-body '><div class='card'><div class='card-body zoom '>" + array2[0] + "&emsp; " + (array2[2] == 1 ? IconRecord : '') + " </div></div></div> </div>";
                                                            }
                                                        }
                                                        );

                                                        html += '</td ></tr>';
                                                    });
                                                    $('.SchList').html(html);
                                                },
                                                error: function (errormessage) {
                                                    //alert(errormessage.responseText);
                                                }
                                            });
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Recordings" role="tabpanel" aria-labelledby="Recordings-tab">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row m-0 pl-xl-0 pl-lg-5 pr-xl-0 pr-lg-5">
                                        <div class="col-1 d-xl-block d-none"></div>
                                        <div class="col-xl-10">
                                            <div class=" font-32 pt-4 pb-4 bg-white text-pink">

                                            </div>
                                            <div class="border bg-white pb-4 news pt-4 row m-0 pl-0 pr-0">
                                                @foreach (Recording recording in Model.RecordingList)
                                                {
                                                    <div class="news-wrap col-lg-3 col-md-4 col-sm-6 pb-3 pt-3 ">
                                                        <h4 class="news-heading font-16 font-weight-normal">@recording.RecordingTitle</h4>
                                                        <div class="font-weight-light in-icon-arrow d-inline-block font-12">
                                                            <p class="mb-0">@recording.Date.ToString("dd MMM yyyy")</p>
                                                        </div>
                                                        <a onclick="GetRecording(@recording.RecordingId )" class="ply-vid">
                                                            <i class="fal fa-play-circle font-36"></i>
                                                        </a>

                                                    </div>}


                                            </div>

                                        </div>
                                        <div class="col-1 d-xl-block d-none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="VideoPlayer" role="tabpanel" aria-labelledby="VideoPlayer-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="m-5 ">
                                        <div class="col-xl-12 col-md-12 p-lg-0">
                                            <div class="card" id="top-card">
                                                <div class="tab-content" id="pills-tabContent">
                                                    @*<i class="fal fa-play-circle text-white vide-play-in"></i>*@
                                                    <video id="myVideo" style="width:100%;" controls>


                                                        Your browser does not support HTML5 video.
                                                    </video>



                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- jQuery -->
    <!-- Bootstrap JS bundle w/ Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.6.0/min/tiny-slider.js"></script>

    <!-- Bootstrap JS bundle w/ Popper.js -->
    <script src="~/WebsiteAssets/js/main.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/theme/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="~/theme/js/owl-carousel.js"></script>
    <script src="~/js/jwplayer.js"></script>


    <script type="text/javascript">
        

        //$(document).ready(function () {
        //    $('#LiveStreamSrc').attr("src", '' + $('#livestreamUrl').val() + '');
        //    var player = videojs('CameraLiveStream');
        //    player.autoplay(false);
        //});

        function OpenCamera(camId) {
            //$('#LiveStreamSrc').attr("src", '' + liveUrl + '');
            var player = videojs(camId);
            player.autoplay(false);

        }

        function OpenPictures() {

            var cameras = document.getElementById("CamerasContainer");
            var images = document.getElementById("carouselExampleCaptions");
            var vedios = document.getElementById("VediosContainer");

            //if (x.style.display === "none") {
            cameras.style.display = "none";
            vedios.style.display = "none";
            // } else {
            images.style.display = "block";
            // }

        }

        function GetRecording(RecordingId) {
           
            $.ajax({
                type: "Get",
                url:'@Url.Action("Player", "Customers")',
                data: { id: RecordingId },



                success: function (result) {
                    
                    $("#myVideo").html('<source id="LiveStreamSrcVideo" src="' + result.src + '" >');
                    $("#myVideo")[0].load();
                    $('#VideoPlayer').addClass('active show');
                    $('#Recordings').removeClass('active show');
                    $('#Schedules').removeClass('active show');
                    $('#Live-Stream').removeClass('active show');
                    $('#Live-Stream-tab').removeClass('active');
                    $('#Schedules-tab').removeClass('active');
                    $('#Recordings-tab').removeClass('active');
                    $('#VideoPlayer-tab').addClass('active');
                    
                },
                error: function (errormessage) {
                   alert(errormessage.responseText);
                }
            });


        }

        function OpenVedio(vedId, vedioURL) {
            //  var cameras = document.getElementById("CamerasContainer");
            //  var images = document.getElementById("carouselExampleCaptions");
            //  var vedios = document.getElementById("VediosContainer");

            // vedios.style.display = "block";
            //  cameras.style.display = "none";
            //  images.style.display = "none";


            jwplayer.key = "SNzmJfLzOyLvUOZxE3J2qsi0RmsfnZKN8DnKtQ==";

            var fileURL = vedioURL;
            jwplayer('' + vedId + '').setup({
                file: fileURL,
                image: "../Images/jwerror.jpg",
                width: "100%",
                height: "415px",
                aspectratio: "16:9",
                autostart: 'false',
            });
            jwplayer().onError(function () {
                jwplayer().play();
            });

        }

        $(document).ready(function ($) {
            $('#owl-carousel-video').owlCarousel({
                items: 1,
                merge: true,
                loop: true,
                margin: 10,
                video: true,
                lazyLoad: true,
                center: true,
                responsive: {
                    480: {
                        items: 1
                    },
                    600: {
                        items: 1
                    }
                }
            });

            var vedioSlides = document.getElementsByClassName("vedslide");
            for (var i = 0; i < vedioSlides.length; i++) {
                // Distribute(slides.item(i));
                var divid = vedioSlides.item(i).id;
                var divurl = vedioSlides.item(i).getAttribute('mediaurl');
                OpenVedio(vedioSlides.item(i).id, vedioSlides.item(i).getAttribute('mediaurl'))
            }

            OpenCamera('CameraLiveStream-0');
        });
    </script>
    <script src="~/theme/js/tabs.js"></script>
</body>
</html>
