@model MCNMedia_Dev.Models.GenericModel
@{ ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutClient.cshtml"; }


<!-- partial:partials/_horizontal-navbar.html -->
<!-- partial -->

<div class="row p-3 ">
    <div class="col-12">
        <div class="row">
            <div class="col-md-12 grid-margin bg-warning">
                <div class="card bg-primary border-0 position-relative">
                    <div class="card-body p-2">
                        @*<h3 class=" text-white">Recordings Details</h3>*@
                        <div id="performanceOverview" class="carousel slide performance-overview-carousel position-static pt-2" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-3 item">
                                            <div class="d-flex flex-column flex-xl-row mt-4 mt-md-0">
                                                <div class="icon icon-a text-white mr-3">
                                                    <i class=" mdi mdi-file-image  icon-lg ml-3"></i>
                                                </div>
                                                <div class="content text-white">
                                                    <div class="d-flex flex-wrap align-items-center mb-2 mt-3 mt-xl-1">
                                                        <h3 class="font-weight-light mr-2 mb-1">Picture</h3>

                                                    </div>
                                                    <div class="col-8 col-md-7 d-flex border-info align-items-center justify-content-between px-0 pb-2 mb-3">
                                                        <h3 class="mb-0">@Model.DashBoardClients.NumberOfPictures</h3>

                                                    </div>
                                                    @*<p class="text-white font-weight-light pr-lg-2 pr-xl-5">The total number of Schedules of an Events</p>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 item">
                                            <div class="d-flex flex-column flex-xl-row mt-5 mt-md-0">
                                                <div class="icon icon-b text-white mr-3">
                                                    <i class=" mdi mdi-file-video icon-lg ml-3"></i>
                                                </div>
                                                <div class="content text-white">
                                                    <div class="d-flex flex-wrap align-items-center mb-2 mt-3 mt-xl-1">
                                                        <h3 class="font-weight-light mr-2 mb-1">Video</h3>
                                                    </div>
                                                    <div class="col-8 col-md-7 d-flex border-info align-items-center justify-content-between px-0 pb-2 mb-3">
                                                        <h3 class="mb-0">@Model.DashBoardClients.NumberOfVideo</h3>

                                                    </div>
                                                    @*<p class="text-white font-weight-light pr-lg-2 pr-xl-5">The total number of Recordings for Current day of an Events of Churches</p>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 item">
                                            <div class="d-flex flex-column flex-xl-row mt-5 mt-md-0">
                                                <div class="icon icon-c text-white mr-3">
                                                    <i class="mdi mdi-file-powerpoint  icon-lg ml-3"></i>
                                                </div>
                                                <div class="content text-white">
                                                    <div class="d-flex flex-wrap align-items-center mb-2 mt-3 mt-xl-1">
                                                        <h3 class="font-weight-light mr-2 mb-1">Slide Show</h3>

                                                    </div>
                                                    <div class="col-8 col-md-7 d-flex border-info align-items-center justify-content-between px-0 pb-2 mb-3">
                                                        <h3 class="mb-0">@Model.DashBoardClients.NumberOfSlideShow</h3>

                                                    </div>
                                                    @*<p class="text-white font-weight-light pr-lg-2 pr-xl-5">The total number of Cameras of Churches</p>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3 item">
                                            <div class="d-flex flex-column flex-xl-row mt-5 mt-md-0">
                                                <div class="icon icon-c text-white mr-3">
                                                    <i class="mdi mdi-camera  icon-lg ml-3"></i>
                                                </div>
                                                <div class="content text-white">
                                                    <div class="d-flex flex-wrap align-items-center mb-2 mt-3 mt-xl-1">
                                                        <h3 class="font-weight-light mr-2 mb-1">Cameras</h3>

                                                    </div>
                                                    <div class="col-8 col-md-7 d-flex border-info align-items-center justify-content-between px-0 pb-2 mb-3">
                                                        <h3 class="mb-0">@Model.DashBoardClients.NumberOfCameras</h3>

                                                    </div>
                                                    @*<p class="text-white font-weight-light pr-lg-2 pr-xl-5">The total number of Cameras of Churches</p>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
    <div class="row">
       
            <div class="col-6 grid-margin stretch-card ">
                <div class="card">

                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">Today Event's</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-muted">@Model.DashBoardClients.TodaysSchedules</h3>
                            <i class="mdi mdi-calendar  icon-md text-muted mb-0 mb-md-3 mb-xl-0 "></i>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-6 grid-margin stretch-card ">
                <div class="card">

                    <div class="card-body">
                        <a href="@Url.Action("Recording","Client")">
                            <p class="card-title text-md-center text-xl-left text-muted">Total Recording Done so far</p>
                            <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                                <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-muted">@Model.DashBoardClients.TotalRecordings</h3>
                                <i class="mdi mdi-record-rec icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                            </div>
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">

                <div class="card">

                    <div class="card-body">
                        <p class="card-title text-md-center text-xl-left">With Recording</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-muted">@Model.DashBoardClients.TodaysRecordings</h3>
                            <i class="mdi mdi-camcorder-box icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card ">
                <div class="card ">

                    <div class="card-body">

                        <p class="card-title text-md-center text-xl-left">withOut Recording</p>
                        <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                            <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0 text-muted">@Model.DashBoardClients.TodaysEventsWithOutRecordings</h3>
                            <i class="mdi mdi-camcorder-box-off icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="col-6">
        <div class="card">
            <div class="card-header" style="background-color:black">
                <label style="color:white">Today's Schedule</label>
            </div>
            <div class="card-body">
                <div class="">
                    <form method="get">


                        <div class="table-sorter-wrapper col-lg-12 table-responsive">
                            <table id="sortable-table-1" class="table">
                                <thead>
                                    <tr>
                                        <th class="sortStyle">Event Name</th>
                                        @*            <th class="sortStyle">Event Status<i class="ti-angle-down"></i></th>*@
                                        <th class="sortStyle">Repeated</th>
                                        <th class="sortStyle">Duration</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.LDashBoardClients)
                                    {
                        <tr>
                            <td class="text-wrap">

                                @Html.DisplayFor(modelItem => item.ScheduleEventName, new { @class = "text-wrap" })

                            </td>

                            @*<td class="text-wrap">
                                    @Html.DisplayFor(modelItem => item.ScheduleStatus, new { @class = "text-wrap" })
                                </td>*@

                        <td>
                            @if (item.IsRepeated == 1)
                            {
                                <label class="badge-pill badge-success">
                                    Yes
                                </label>
                            }
                            else
                            {
                                <label class="badge-pill badge-danger">
                                    No
                                </label>
                            }
                        </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecordingDuration)
                            </td>

                        </tr>}
                                </tbody>
                            </table>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    $('#UserAdminBtn').click(
        function () {
            alert('hello');
            $.ajax({
                type: "Post",
                url: '@Url.Action("Search", "User")',
                data: { FirstName: '', LastName: '', EmailAddress: '', Role: '2' },


            });
    }
    );

</script>



