@model MCNMedia_Dev.Models.GenericModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Preview";

    if (Context.Session.GetString("UserType").ToLower() == "admin")
    {
        Layout = "_Layout";
    }
    else if (Context.Session.GetString("UserType").ToLower() == "client")
    {
        Layout = "_NestedLayout";
    }
    else if (Context.Session.GetString("UserType").ToLower() == "website")
    {

        Layout = "_LayoutWebsite";
    }

    <script src="~/js/jwplayer.js"></script>
    <script src="~/js/player.js"></script>
    <script src="https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated"></script>
    <script src="https://content.jwplatform.com/libraries/Z7aSa17m.js"></script>

    <script>
        var churchid = "481";

        var token = "I4pUwfFbGke1O1fwGgocIv7XnW2T4VeYEPlqDiII";
        var stream_url = [
            "https://1502594353.rsc.cdn77.org/live/_ec24837a244400d3f46a8d6d17189782f91bdd20_/ec24837a244400d3f46a8d6d17189782f91bdd20_672.stream/playlist.m3u8",
        ]

    </script>


}
<style type="text/css">
    .selectWrapper {
        border-radius: 40px;
        display: inline-block;
        overflow: hidden;
        background: #cccccc;
        border: 1px solid #cccccc;
    }

    .bgcolor {
        background-color: goldenrod;
    }

    .bgcolor1 {
        background-color: #060f2d;
        color: white;
    }

    .button {
        background-color: goldenrod;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        border-color: goldenrod;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<h1>Preview</h1>

<div class="row">
    <div class="col-md-8 border-dark">
        @*<div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel owl-theme video-carousel">
                    <div class="item-video" style="width:700px;height:700px"><a class="owl-video" href="https://www.youtube.com/watch?v=9JBNmGlEdLY"></a></div>

                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-12">
                <div id="my-video"> </div>
                <video tabindex="-1" preload="true" class="vjs-tech" id="camera_1_html5_api" src="blob:https://mcnmedia.tv/b6838ef8-258e-4a34-acdc-9e38decc2b30">
                    <source src="https://1502594353.rsc.cdn77.org/live/_ec24837a244400d3f46a8d6d17189782f91bdd20_/ec24837a244400d3f46a8d6d17189782f91bdd20_672.stream/playlist.m3u8" type="application/vnd.apple.mpegurl">
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var camera in Model.LCameras)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="@camera.CameraUrl" role="tab" aria-selected="true">@camera.CameraName</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">

                <div class="owl-carousel owl-theme full-width" style=" background-color: #372548; height:200px;">
                    @foreach (var item in Model.LSchedules)
                    {
                        <div class="item  text-white p-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="schedule-day ">
                                        <h3>
                                            @item.EventDay
                                            <small><i class="fa fa-calendar"></i>@Html.DisplayFor(modelItem => item.EventDate)</small>
                                        </h3>



                                        <div class="schedule-item ">
                                            <div class="event-name">

                                                @item.EventName
                                            </div>

                                            <div class="event-time">
                                                @Html.DisplayFor(modelItem => item.EventTime)
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>



                        </div>
                    }



                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class=" form-group row">
                            <div class="col-sm-12 " style=" background-color:white">


                                <div class="text-center">
                                    <div>
                                        <img src="@Model.Churches.ImageURl" class="auth-img-bg rounded-circle mb-2 " style="width:250px; height:200px;" alt="profile image" />

                                    </div>

                                </div>

                            </div>


                        </div>
                        <div class="col-sm-12 p-2  " style=" background: linear-gradient(to Left, White 0%, White 80%, #372548 50%, #372548 50%);
                             border:1px solid;
                            border-radius: 25px;">

                            <div class="row pb-2">
                                <div class="col-sm-2">
                                    <i class="fa fa-home text-white pl-2"></i>
                                </div>
                                <div class="col-sm-10">
                                    @Model.Churches.ChurchName
                                </div>
                            </div>

                            <div class="row pb-2">
                                <div class="col-sm-2">
                                    <i class="fa fa-phone  text-white pl-2"></i>
                                </div>
                                <div class="col-sm-10">
                                    @Model.Churches.Phone
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-sm-2">
                                    <i class="fa fa-envelope  text-white pl-2"></i>
                                </div>
                                <div class="col-sm-10">
                                    <a href="mailto:test_Churches27_7">
                                        @Model.Churches.EmailAddress
                                    </a>
                                </div>
                            </div>

                            <div class="row pb-2">
                                <div class="col-sm-2">
                                    <i class="fa fa-globe  text-white  pl-2"></i>
                                </div>
                                <div class="col-sm-10">
                                    <a target="_blank" href="http://test_Churches27_7">
                                        @Model.Churches.Website
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card p-1 mt-md-3" style=" background-color: #372548 ; border: 2px solid #372548; padding: 10px;border-radius: 25px;">
            <div class="card-body">
                <div class="col-sm-12">
                    <h3 style="color:white">
                        Have an Issue?
                    </h3>
                    </br>
                    <p style="color:white">We're here to help</p>
                    </br>
                    <a href="/contact" class="button">Send us a message</a>
                </div>
            </div>
        </div>

    </div>
</div>







<div class="row mt-3">
    <div class="col-lg-12 grid-margin stretch-card" style="background: linear-gradient( white 35%, #372548 65%);
        border-top: 8px solid #372548;
        border-radius: 5px">
        <div class="card">
            <div class="card-body">
                <h3 style="color:#372548">Message from Saint Ambrose Barlow</h3></br>
                <div>
                    <a href="/contact" style="color:black"> <b><u>Make an Act of Spiritual Communion whilst watching a live stream Mass, by saying the following prayer:</u></b></a>
                </div></br>
                <div>
                    <p>
                        My Jesus, I believe that You are present in the Most Holy Sacrament. </br>
                        I love You above all things, and I desire to receive You into my soul.</ br >
                        Since I cannot at this moment receive You sacramentally, come at least spiritually into my heart.</ br >
                        I embrace You as if You were already there and unite myself wholly to You.</ br >
                        Never permit me to be separated from You.</ br >

                        </ p >


                        </ div >

                        </ div >

                        </ div >

                        </ div >
                        </ div >


                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card" style=" background: linear-gradient( white 35%, #372548 65%);
                        border-top: 8px solid #372548;
                        border-radius: 5px">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 style="color:#372548"> Recordings of past events at Saint Ambrose Barlow</h5></br>
                                        <div class="row">
                                            @foreach (var recording in Model.LRecordings)
                                            {
                                                <div class="col-sm-4">
                                                    <label>@recording.RecordingTitle</label>
                        <p> @recording.Time</p>
                        <a href="@recording.RecordingURl">RecordingUrl</a>
                    </div>
                }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>

                            @*<div class="form-group row">
                                <div class="col-sm-7 grid-margin stretch-card">
                                    <video width="320" height="240" controls>
                                        <source src="movie.mp4" type="video/mp4">
                                        <source src="movie.ogg" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                </div>*@
