@model MCNMedia_Dev.Models.GenericModel
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Cameras";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
    
}

  

<div class="bg-blue  pt-3 pb-3" style=" position: sticky; top: 0px; z-index:5">
    <div class="container">
        <div class="row m-0 ">
            <div class="text-white font-36 text-center avantgardece">
                CAMERAS

            </div>
        </div>

    </div>
</div>

<div class="row m-0 mt-5 mb-5">

    <div class="col-1 d-lg-block d-none"></div>


    <div class="col-lg-3 col-md-4 col-sm-6">
        @*<div class="deskContent">
                <div class="border bg-white p-4" style="position: sticky; top: 103px;">

                    @foreach (Place country in Model.CountryList)
                    {
                        <div class="news-wrap mb-3">
                            <a class="btn btn-pink my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-weight-bolder font-14 mb-2" style="width:100%"
                               href="@Url.Action("Cameras", "Website",new {Country = country.PlaceName.Replace(' ','-')})">
                                @country.PlaceName
                            </a>
                        </div>
                    }
                </div>
            </div>*@



        <div class=" MobileContent border bg-white p-4" style="position: sticky; top: 103px;">

            @foreach (Place country in Model.CountryList)
            {
                <div class="news-wrap mb-3">
                    <a class="btn btn-pink my-2 my-sm-0 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-weight-bolder font-14 mb-2" style="width:100%"
                       href="@Url.Action("Cameras", "Website",new {Country = country.PlaceName.Replace(' ','-')})">
                        @country.PlaceName
                    </a>
                </div>
            }
        </div>




    </div>


    @if (ViewBag.CountyList == 1)
    {
        <div class="col-lg-7">
            <div class="row">
                @if (ViewBag.countryName == null)
                {

                }
                else
                {
                    <div class="card-header card-header-custom text-white font-18 font-weight-bolder" style="width: 100%; background-color:#d9356f">
                        <h3>@ViewBag.countryName </h3>
                    </div>
                }
            </div>
            <div class="row">


                @foreach (Place country in Model.CountyList)
                {
                    <div class="m-2" style="width:30%">
                        <a class="btn bg-blue my-2 my-sm-0 p-3 pl-xl-5 pl-4 pr-xl-5 pr-4 text-white font-weight-bolder font-14 mb-2" style="width:100%"
                           href="@Url.Action("Cameras", "Website",new {County = country.PlaceName.Replace(' ','-')})">
                            @country.PlaceName
                        </a>
                    </div>
                }
            </div>
        </div>
    }

    @if (ViewBag.CountyList == 0)
    {
        <div class="col-lg-7">
            <div class="row">
                @if (ViewBag.countyName == null)
                {

                }
                else
                {

                    <div class="card-header card-header-custom text-white font-18 font-weight-bolder" style="width: 100%;  background-color:#1f4a79">
                        <h3> @ViewBag.countyName</h3>
                    </div>
                }
            </div>
            <div class="row">
                @if (Model.ChurchList.Count() > 0)
                {
                    foreach (Church church in Model.ChurchList)
                    {

                        <div class="col-lg-4 col-md-6 p-1 ">
                            <div class=" rounded-lg bg-light-gray p-1">
                                <a href="@Url.Action("Profile", "Website",new { id = church.Slug  })" title="Preview">
                                    <div class="Mobileimage position-relative darker">
                                        <img src="@church.ImageURl" class="w-100 rounded-lg " alt="@church.ChurchName">
                                    </div>
                                    <div class="avantgardece text-center text-blue font-16 mt-2">@church.ChurchName, @church.Town</div>
                                </a>
                            </div>
                        </div>

                    }
                }
                else if (ViewBag.SearchFilter != null)
                {
                    <div class="container bg-blue">
                        <div class="row m-0 ">
                            <div class="col-sm-12 text-white font-26 text-center pt-2 pb-2 avantgardece">
                                Search Result for: @ViewBag.SearchFilter
                            </div>
                            <div class="col-sm-12 text-white font-26 text-center pt-2  pb-4 avantgardece">
                                Sorry, there doesn't seem to be matching this search
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    }

    <div class="col-1 d-lg-block d-none"></div>
    <div class="displayblock bg-blue pt-3 pb-3 " style=" position: sticky; top: 0px; z-index:5">
        <div class="container">


            <div class="row m-0">

                <div class=" col-lg-6 col-md-5 p-2 selectors-3 col-sm-6 ml-auto">
                    <div class="input-serch-d position-relative">
                        @*<input list='text_editors' class="empty" placeholder="&#xF002;  Select Country">
                        <i class="far fa-angle-down srch-dopr-icn"></i>*@
                        @if (ViewBag.Countries != null)
                        {
                            <select id="select2" name="countryId" class="select-search" onchange="DoPostBack();" asp-items="@(new SelectList(@ViewBag.Countries, "Value", "Text", Context.Session.GetInt32("countryId")))">
                                <option value="-1">--Select Country--</option>
                            </select>
                        }
                        else
                        {
                            <select id="select2" name="countryId" class="select-search">
                                <option value="-1">--Select Country--</option>
                            </select>
                        }
                    </div>
                </div>
                <div class=" col-lg-6 col-md-5 p-2 selectors-3 col-sm-6 mr-auto">
                    <div class="input-serch-d position-relative">
                        @*<input list='text_editors2' class="empty" placeholder="&#xF002;  Select State">
                        <i class="far fa-angle-down srch-dopr-icn"></i>*@
                        <select name="County" class="select-search" id="County" onchange="SearchCameraByCounty();">
                            <option value="-1">--Select County--</option>
                        </select>
                    </div>
                    @* <datalist id="text_editors2">

                    <select multiple size=8>
                        <option value="Atom">Atom</option>
                        <option value="Brackets">Brackets</option>
                        <option value="Notepad ++">Notepad ++</option>
                        <option value="Notepad">Notepad</option>
                        <option value="Sublime Text">Sublime Text</option>
                        <option value="TextEdit">TextEdit</option>
                        <option value="TextMate">TextMate</option>
                        <option value="Wordpad">Wordpad</option>
                    </select>
                    </datalist>*@
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#select2').val('@ViewBag.CountryID');


        DoPostBack();
   $('#County').val('@Context.Session.GetInt32("CountyID")');
    });
    function DoPostBack() {
        var CountryId = document.getElementById('select2').value;

        $.ajax({
            url: "/WebSite/LoadCountyDDL",
            type: "GET",
            data: { countryId: CountryId },
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                var s = '<option value="-1">--Select County--</option>';
                $.each(result, function (key, item) {
                    s += '<option value="' + item.countyId + '">' + item.placeName + '</option>'
                });
                $("#County").html(s);
            },
            error: function (errormessage) {
                alert(errormessage);
                $('#errorMessage').text(errormessage);
                $('#divErrorMsg').removeAttr('hidden');

                var s = '<option value="-1">--Select County--</option>';

                $("#County").html(s);
                $('#County').val('@ViewBag.CountyID');
         
                


            }
        });
    }

    function SearchCameraByCounty() {
        var filter = "";
        var countrySelect = document.getElementById("select2");
        var countryName = countrySelect.options[countrySelect.selectedIndex].text.replace(" ", "-").replace(/\s/g, "-");
        if (countrySelect.value == "-1") {
            filter = "Country=all";
        }
        else {
            filter = "Country=" + countryName;
        }

        var countySelect = document.getElementById("County");
        var countyName = countySelect.options[countySelect.selectedIndex].text;
        if (countySelect.value == "-1") {
            filter += "&County=all";
        }
        else {

            filter += "&County=" + countyName;
        }
        window.location.href = "/Website/Cameras?" + filter;
    }

    $('.cover').on('click', function () {
        $(this).children().css({
            'z-index': 1,
            'opacity': 1
        });
        $(this).children().trigger('play');

    });

    $('video').on('click', function () {
        console.log('a');
    });


</script>