@model IEnumerable<MCNMedia_Dev.Models.Church>
@{ 
    ViewData["Title"] = "FuneralHomes";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<style type="text/css">
    .color1 {
        color: goldenrod;
    }
    .bgcolor {
        background-color: goldenrod;
    }

    .bgcolor1 {
        background-color: #060f2d;
        color: white;
    }
</style>
    <div class="card bgcolor1" >
        <div class="card-body">
           <h2>FUNERAL HOMES </h2>
        </div>

    </div>
    <div class="card bgcolor">

        <div class="card-body">
            <div class="row ">
                <div col-sm-12>
                <div class="row portfolio-grid">
                    @foreach(Church ch in Model) {
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                        <a href="@Url.Action("Preview", "Preview",new { chId = ch.ChurchId })" title="Preview">
                            <figure class="effect-text-in">
                                <img src="@ch.ImageURl" style="height:400px; width:800px !important" alt="image" />
                                <figcaption>
                                    <h4>@ch.ChurchName</h4>
                                    <p>address : @ch.Address ||  Phone : @ch.Phone || Email : @ch.EmailAddress || Website : @ch.Website </p>

                                </figcaption>
                            </figure>
                            </a>
                    </div>
                       
                    
                    }

                 

                </div>
            </div>
           </div>
        </div>
</div>
    <div class="row">
        <div class="col-12 bg-dark">

            <div class="row ">
                <div class="col-sm-5 p-0 m-0">
                    
                    <img src="~/Images/FuneralHomes.jpg" class="img-fluid w-100 h-100 blur " />
                </div>
                <div class="col-sm-7 justify-content-center ">
                    <center>
                        <div class="color1 display-3 justify-content-center pt-5  font-weight-bolder">Do you have a Funeral Home?</div>
                        <div class="display-4 justify-content-center pt-2 text-secondary font-weight-bold">Extend your services with live streaming. </div>
                    </center>
                    <hr /> 
                   
                                <ul class=" display-4   text-white">
                                    <li>HD Streaming</li>
                                    <li>International Access</li>
                                    <li>Password Protection</li>
                                    <li>Access for Sick / Elderly</li>
                                    <li>Viewing Abroad</li>
                                    <li>Full Website Integration</li>
                                </ul>
                           
                    

                </div>

            </div>
        </div>
    </div>