@model MCNMedia_Dev.Models.GenericModel

@{
    ViewData["Title"] = "ListRecording";
}
<script src="~/js/jwplayer.js"></script>
<div class="card mb-3">
    <div class="card-header card-header-custom">
        Search Recording
    </div>
    <div class="card-body">
        <div class="">
            <form method="post" asp-action="Search" asp-controller="Recording">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">From Date</label>
                            <div class="col-sm-8">
                                <div id="datepicker-popup" class="input-group date datepicker">
                                    <input type="text" id="SetFromDate" name="fromDate" class="form-control" placeholder="From Date" />
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="ti-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">To Date</label>
                            <div class="col-sm-8">
                                <div id="datepicker-popup2" class="input-group date datepicker">
                                    <input type="text" id="SetToDate" name="toDate" class="form-control" placeholder="To Date" />
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="ti-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Church Name</label>
                            <div class="col-sm-8">
                                <select name="churchId" id="select1" class="form-control" asp-items="@(new SelectList(@ViewBag.Church,"Value","Text"))">
                                    <option value="-1">--Select Church--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Event Name</label>
                            <div class="col-sm-8">
                                @Html.TextBox("EventName", "", new { @id= "SetEventName",@class = "form-control", @name = "EventName", @placeholder = "Event Name" })
                         
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group  row">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary btn-sm text-white" title="Search"><i class="mdi mdi-table-search text-white"></i>Search</button>
                                <a asp-controller="Recording" asp-action="ListRecording" class="btn btn-warning btn-sm text-white" title="Cancel"><i class="mdi mdi-cancel text-white"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
             
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card ">
            <div class="card-header card-header-custom">
                <a id="ADDEmployee" onclick="AddRecording1()" class="btn btn-outline-warning btn-custom btn-sm float-right " title="Add New"> <i class="mdi mdi-plus "></i> Add Recording</a>
                Manage Recordings
            </div>
            <div class="card-body">
                

                        @using (Html.BeginForm("ListRecording", "Recording", FormMethod.Post))
                        {

                            <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                <table id="sortable-table-1" class="table">
                                    <thead>
                                        <tr>
                                            <th class="sortStyle">Title<i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Church <i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Date<i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Time <i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Modified Date <i class="ti-angle-down"></i></th>
                                            

                                            <th>Actions</th>
                                        </tr>


                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.LRecordings)
                                        {
                                        <tr>

                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.RecordingTitle)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.ChurchName)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.Date)

                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.Time)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                           
                                            <td>
                                                <a href="@Url.Action("AdminPlayer", "Recording",new { id = item.RecordingId })" target="_blank" class="ply-vid">
                                                    <i class="btn btn-success btn-sm ti-control-play"></i>
                                                </a>
                                                @*<button type="button" data-id="@item.Src" id="playModelCheck" class="btn btn-success btn-sm ti-control-play" title="Play" data-toggle="modal" data-target="#PlayRecordingModal"></button>*@



                                                <a href="@item.Src" download="Video.mp4" class="btn btn-warning btn-sm ti-download text-white" title="Download"></a>

                                                <a onclick="EditRecording(@item.RecordingId)" class="btn btn-primary btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a onclick="DeleteRecordingClick(@item.RecordingId)" class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>


                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        }

            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddRecordingPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddRecordPreview">
                        @Html.Partial("~/Views/Recording/AddRecording.cshtml", Model.Recordings)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditRecordingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditRecordingPreview">
                        @Html.Partial("~/Views/Recording/Edit.cshtml", Model.Recordings)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="PlayRecordingModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  mt-4" role="document" style="max-width:750px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Play Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="PlayRecordingPreview">
                    <div  id="videoUrl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jwplayer.key = "SNzmJfLzOyLvUOZxE3J2qsi0RmsfnZKN8DnKtQ==";
    $(document).on("click", ".ti-control-play", function () {
        var url = $(this).data('id');

        jwplayer('videoUrl').setup({
            file: url,
            image: "../Images/jwerror.jpg",
            width: "100%",
            aspectratio: "16:9",
            //autostart: 'true',
            "autostart": "viewable",
            "advertising": {
                "client": "vast",
                "tag": ""
            }
        });
        jwplayer().onError(function () {
            jwplayer().play();
        });
    });
        $(document).ready(
        function () {
            $('#SetFromDate').val('@ViewBag.FromDate');
                $('#SetToDate').val('@ViewBag.ToDate');
                  $('#select1').val('@ViewBag.ChurchId');
                $('#SetEventName').val('@ViewBag.EventName');

        });


    function Download(url) {
        $('<iframe>', { id: 'idown', src: url }).hide().appendTo('body').click();
    }


    function AddRecording1() {

        $('#AddRecordingPopUp').modal('show');

    }
    function EditRecording(recordingId) {

         $.ajax({
             type: "Get",
             url: '@Url.Action("Edit", "Recording")',
             data: { id: recordingId },
             success: function (data) {
                 $('#EditRecordingPreview').html(data);
                 $('#EditRecordingModal').modal('show');
             }
         });

    }
    function DeleteRecordingClick(RecordingId) {

        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your file has been deleted!", {
        icon: "success",

    });
        $.ajax({
            type: "Get",
            url: '@Url.Action("Delete", "Recording")',
            data: { id: RecordingId },

        });
      window.location.reload();
  } else {
         swal("Your file is safe!");
  }
});


    }

</script>