@model MCNMedia_Dev.Models.GenericModel

@{
    ViewData["Title"] = "ListRecording";
}
<script src="~/js/jwplayer.js"></script>
<div class="row">
    <div class="col-md-12">

        <div class="card ">
            <div class="card-header card-header-custom">
                <a id="ADDEmployee" onclick="AddRecording1()" class="btn btn-outline-warning btn-custom btn-sm float-right " title="Add New"> <i class="mdi mdi-plus "></i> Add Recording</a>
                Manage Recordings
            </div>
            <div class="card-body">
                

                        @using (Html.BeginForm("ListRecording", "Recording", FormMethod.Post))
                        {

                            <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                <table id="sortable-table-1" class="table">
                                    <thead>
                                        <tr>
                                            <th class="sortStyle">Title <i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Church<i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Date <i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Time <i class="ti-angle-down"></i></th>
                                            <th class="sortStyle">Last Modified At <i class="ti-angle-down"></i></th>
                                            <th>Actions</th>
                                        </tr>


                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.LRecordings)
                                        {
                                        <tr>

                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.RecordingTitle)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.ChurchName)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.Date)

                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.Time)
                                            </td>
                                            <td class="text-wrap">
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                            <td>
                                                <button type="button" data-id="@item.RecordingURl" id="playModelCheck" class="btn btn-success btn-sm ti-control-play" title="Play" data-toggle="modal" data-target="#PlayRecordingModal"></button>
                                                @{
                                                    var UrlDownload = item.RecordingURl;

                                                    <a href="@UrlDownload" download class="btn btn-warning btn-sm ti-download text-white" title="Download"></a>
                                                }
                                                <a onclick="EditRecording(@item.RecordingId)" class="btn btn-primary btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a onclick="DeleteRecordingClick(@item.RecordingId)" class="btn btn-danger btn-sm text-white" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>


                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                        }

            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="AddRecordingPopUp" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="AddRecordPreview">
                        @Html.Partial("~/Views/Recording/AddRecording.cshtml", Model.Recordings)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="EditRecordingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable mt-4" role="document" style="max-width:60%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="EditRecordingPreview">
                        @Html.Partial("~/Views/Recording/Edit.cshtml", Model.Recordings)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="modal fade" id="PlayRecordingModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  mt-4" role="document" style="max-width:750px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Play Recording</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-window-close-o"></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="PlayRecordingPreview">
                    <div  id="videoUrl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jwplayer.key = "SNzmJfLzOyLvUOZxE3J2qsi0RmsfnZKN8DnKtQ==";
    $(document).on("click", ".ti-control-play", function () {
        var url = $(this).data('id');

        jwplayer('videoUrl').setup({
            file: url,
            image: "../Images/jwerror.jpg",
            width: "100%",
            aspectratio: "16:9",
            //autostart: 'true',
            "autostart": "viewable",
            "advertising": {
                "client": "vast",
                "tag": ""
            }
        });
        jwplayer().onError(function () {
            jwplayer().play();
        });
    });

    function AddRecording1() {

        $('#AddRecordingPopUp').modal('show');

    }
    function EditRecording(recordingId) {

         $.ajax({
             type: "Get",
             url: '@Url.Action("Edit", "Recording")',
             data: { id: recordingId },
             success: function (data) {
                 $('#EditRecordingPreview').html(data);
                 $('#EditRecordingModal').modal('show');
             }
         });

    }
    function DeleteRecordingClick(RecordingId) {

        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Poof! Your file has been deleted!", {
        icon: "success",

    });
        $.ajax({
            type: "Get",
            url: '@Url.Action("Delete", "Recording")',
            data: { id: RecordingId },

        });
      window.location.reload();
  } else {
         swal("Your file is safe!");
  }
});


    }

</script>